.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

img{
    margin-top: 10px;
    border-radius: 15px;
    width: auto;
    max-width: 300px;
}

.center{
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form{
    margin-top: 10px;
    margin: auto;

}

#nickname-login, #email-login, #password-login, #confirmPassword-login{
    color: var(--blue-color);
}


@media (min-width:1000px){
    .login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }
    
    img{
        margin-top: 10px;
        border-radius: 15px;
        width: auto;
        max-width: 500px;
    }
    
    .center{
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .form{
        margin-top: 10px;
        margin: auto;
    
    }
    

}

@media (min-width:600px){
    
}

@media (min-width:416px){

}
