.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

img{
    margin-top: 10px;
    // margin-bottom: 20px;
    border-radius: 15px;
    width: auto;
    max-width: 500px;
}

.center{
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form{
    margin-top: 10px;
    margin: auto;

}

button{
    background:var(--light-color);
    border:.1rem solid var(--light-color);
    color:var(--body-color) !important;
}