<div id="footer">
    <div id="footerButtons">
        <div class="buildingButton">
            <img class="icon" src="assets/images/factory.png" (click)="toBuildings()" />
            <p>Bâtiments</p>
        </div>
        <div class="resourceButton">
            <img class="icon" src="assets/images/minerals.png" (click)="toResources()" />
            <p>Ressources</p>
        </div>
        <div class="researchButton">
            <img class="icon" src="assets/images/microscope.png" (click)="toResearch()" />
            <p>Recherche</p>
        </div>
        <div class="fleetButton">
            <img class="icon" src="assets/images/scout-ship.png" (click)="toFleet()" />
            <p>Flotte</p>
        </div>
        <div class="allianceButton">
            <img class="icon" src="assets/images/hive-mind.png" (click)="toAlliance()" />
            <p>Alliance</p>
        </div>
        <div class="marketButton">
            <img class="icon" src="assets/images/cash.png" (click)="toMarket()" />
            <p>Marché</p>
        </div>

    </div>
 
    <div class="planet">
        <button id="l-arrow" (click)="previousPlanet()"><</button>
        <div >
            <img src="assets/images/planet1.png" (click)="overviewRoute()" />
            <p>Planète 1</p>
        </div>
        <button id="r-arrow" (click)="nextPlanet()">></button>
    </div>
</div>





