#footer {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas:
        "footerButtons  planet"
    ;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 9px;
    text-align: center;
    justify-content: space-between;
    padding-bottom: 10px;
}

.button {
    margin: 10px;
}

.icon {
    width: 30px;
    height: 30px;
}

.topButtons {
    width: auto;
    grid-area: topButton;
    display: flex;
    font-size: 20px;
}

.bottomButtons {
    width: auto;
    grid-area: botButton;
    display: flex;
}

.planet {
    width: auto;
    grid-area: planet;
    display: flex;
    overflow: visible;
}

.planetText {
    font-size: 15px;
}

.footerButtonsText {
    font-size: 12px;

}

.planet img {
    width: 90px;
    padding-top: 35px;
}

#r-arrow {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

#l-arrow {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#r-arrow svg,
#l-arrow svg {
    fill: #89b1c4;
}

#r-arrow svg:hover,
#l-arrow svg:hover {
    fill: var(--blue);
    color: var(--blue-color) !important;
    -webkit-drop-shadow: 0px 0px 15px 0px rgba(45, 255, 196, 0.9);
    -moz-drop-shadow: 0px 0px 15px 0px rgba(45, 255, 196, 0.9);
    filter: drop-shadow(2px 2px 4px rgba(45, 255, 196, 0.9));
    -moz-drop-shadow: 0px 20px 15px 0px rgba(45, 255, 196, 0.9);
}

#footerButtons {
    grid-area: footerButtons;
    display: grid;
    grid-template-columns: 70px 70px 70px;
    grid-template-rows: auto;
    grid-template-areas:
        "buildingButton resourceButton researchButton"
        "shipyardButton fleetButton allianceButton"
    ;
    position: relative;
}





.buildingButton {
    grid-area: buildingButton;
    margin: 5px;
}

.resourceButton {
    grid-area: resourceButton;
    margin: 5px;

}

.researchButton {
    grid-area: researchButton;
    margin: 5px;

}

.fleetButton {
    grid-area: fleetButton;
    margin: 5px;

}

.allianceButton {
    grid-area: allianceButton;
    margin: 5px;

}

.shipyardButton {
    grid-area: shipyardButton;
    margin: 5px;

}

.marketButton {
    grid-area: marketButton;
    margin: 10px;
}


@media (min-width:1000px) {
    #footer {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 100px;
        grid-template-areas:
            "footerButtons planet"
        ;
        font-size: 1.2em;

        text-align: center;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;

    }


    #footerButtons {
        grid-area: footerButtons;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
            "buildingButton resourceButton researchButton shipyardButton fleetButton  allianceButton "
        ;
    }

    .buildingButton {
        grid-area: buildingButton;
        margin: 10px;
    }

    .shipyardButton {
        grid-area: shipyardButton;
        margin: 10px;
    }

    .resourceButton {
        grid-area: resourceButton;
        margin: 10px;
    }

    .researchButton {
        grid-area: researchButton;
        margin: 10px;
    }

    .fleetButton {
        grid-area: fleetButton;
        margin: 10px;
    }

    .allianceButton {
        grid-area: allianceButton;
        margin: 10px;
    }

    .marketButton {
        grid-area: marketButton;
        margin: 10px;
    }

    .button {
        margin: 10px;
    }

    .icon {
        width: 50px;
        height: 50px;
    }

    .topButtons {
        width: auto;
        grid-area: topButton;
        display: flex;
    }

    .bottomButtons {
        width: auto;
        grid-area: botButton;
        display: flex;
    }

    .planet {
        grid-area: planet;
        display: flex;
        padding-bottom: 55px;

    }

    .planet img {
        width: 100px;
        cursor: pointer;
    }

    #r-arrow {
        margin-top: 60px;
        cursor: pointer;
    }

    #l-arrow {
        margin-top: 60px;
        cursor: pointer;
    }



}

@media (min-width:600px) {}

@media (min-width:416px) {}

.activeTab:before,
.activeTab p:before,
.activeTab:after,
.activeTab p:after {
    display: block;
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.activeTab:before {
    top: -2px;
    left: -2px;
    border-top: 2px solid #0fbcf9;
    border-top-left-radius: 8px;
    border-left: 2px solid #0fbcf9;
    transition: 0.75s all;
}

.activeTab:after {
    top: -2px;
    right: -2px;
    border-top: 2px solid #0fbcf9;
    border-top-right-radius: 8px;
    border-right: 2px solid #0fbcf9;
    transition: 0.75s all;
}

.activeTab p {
    display: block;
    justify-content: center;
    align-items: center;
    color: #25ccf7 !important;
}

.activeTab p:before {
    bottom: -2px;
    left: -2px;
    border-bottom: 2px solid #0fbcf9;
    border-bottom-left-radius: 8px;
    border-left: 2px solid #0fbcf9;
    transition: 0.75s all;
}

.activeTab p:after {
    bottom: -2px;
    right: -2px;
    border-bottom: 2px solid #0fbcf9;
    border-bottom-right-radius: 8px;
    border-right: 2px solid #0fbcf9;
    transition: 0.75s all;
}