<div id="footer">
    <div id="footerButtons">
        <div class="buildingButton corner-button" (click)="toBuildings()" >
            <img class="icon" src="assets/images/icons/factory.png" />
            <p><span>Bâtiments</span></p>
        </div>
        <div class="resourceButton corner-button" (click)="toResources()" >
            <img class="icon" src="assets/images/icons/minerals.png" />
            <p>Ressources</p>
        </div>
        <div class="shipyardButton corner-button" (click)="toShipyard()" >
            <img class="icon" src="assets/images/icons/space-shuttle.png" />
            <p>Chantier Spatial</p>
        </div>
        <div class="researchButton corner-button" (click)="toResearch()" >
            <img class="icon" src="assets/images/icons/microscope.png" />
            <p>Recherche</p>
        </div>
        <div class="fleetButton corner-button" (click)="toFleet()" >
            <img class="icon" src="assets/images/icons/scout-ship.png"  />
            <p>Flotte</p>
        </div>
        <div class="allianceButton corner-button" (click)="toAlliance()" >
            <img class="icon" src="assets/images/icons/hive-mind.png" />
            <p>Alliance</p>
        </div>
        <div class="marketButton corner-button" (click)="toMarket()" >
            <img class="icon" src="assets/images/icons/cash.png" />
            <p>Marché</p>
        </div>

    </div>
 
    <div class="planet">
        <button id="l-arrow" (click)="previousPlanet()"><</button>
        <div >
            <img src="assets/images/planets/planet3.png" (click)="overviewRoute()" />
            <p>Planète 1</p>
        </div>
        <button id="r-arrow" (click)="nextPlanet()">></button>
    </div>
</div>





