<div id="footer">
  <div id="footerButtons">
    <div class="buildingButton">
      <img class="icon" src="assets/images/factory.png" (click)="toBuildings()" />
      <p>Bâtiments</p>
    </div>
    <div class="resourceButton">
      <img class="icon" src="assets/images/minerals.png" (click)="toResources()" />
      <p>Ressources</p>
    </div>
    <div class="researchButton">
      <img class="icon" src="assets/images/microscope.png" (click)="toResearch()" />
      <p>Recherche</p>
    </div>
    <div class="fleetButton">
      <img class="icon" src="assets/images/scout-ship.png" (click)="toFleet()" />
      <p>Flotte</p>
    </div>
    <div class="allianceButton">
      <img class="icon" src="assets/images/hive-mind.png" (click)="toAlliance()" />
      <p>Alliance</p>
    </div>
    <div class="marketButton">
      <img class="icon" src="assets/images/cash.png" (click)="toMarket()" />
      <p>Marché</p>
    </div>
  </div>

  <div class="planet">
    <span id="l-arrow">
      <svg (click)="previousPlanet()" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z" />
      </svg>
    </span>
    <div>
      <img src="assets/images/planet1.png" (click)="overviewRoute()" />
      <p>Planète 1</p>
    </div>
    <span id="r-arrow">
      <svg (click)="nextPlanet()" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M7.33 24l-2.83-2.829 9.339-9.175-9.339-9.167 2.83-2.829 12.17 11.996z" />
      </svg>
    </span>
  </div>
</div>
