

#navbar {
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "planetInfo planetInfo"
    "resources  account"
    "resources  account"
    ;
    font-size: 0.9em;
    text-align: center;
    justify-content: space-evenly;
    padding: 10px 0;
}

#resources {
    grid-area: resources;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "ironInfo gazInfo" 
    "diamondInfo energyInfo"
    ;
}

#planetInfoMobile {
    height: fit-content;
    grid-area: planetInfo;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "planet serverTime"
    ;
}

#planetInfoDesktop{
    display: none;
}

#account {
    grid-area: account;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "messageButton"
    "accountButton"
    ;
}

.icon{
    width: 25px;
    height: 25px;
}

.ironInfo{
    grid-area: ironInfo;
    margin: 10px;
}

.gazInfo{
    grid-area: gazInfo;
    margin: 10px;
}

.diamondInfo{
    grid-area: diamondInfo;
    margin: 10px;
}

.energyInfo{
    grid-area: energyInfo;
    margin: 10px;
}

.planet{
    grid-area: planet;
    margin: 10px;
}

.serverTime{
    grid-area: serverTime;
    margin: 10px;
}

.alertInfo{
    grid-area: alertInfo;
    margin: 10px;
}

.messageButton{
    grid-area: messageButton;
    margin: 10px;
}

.accountButton{
    grid-area: accountButton;
    margin: 10px;
}

#resources>div {
    height: fit-content;
    // cursor: pointer;
}

// #resources>div:hover {
//     letter-spacing: .5px;
//     color:rgba(45,255,196,0.9) !important;
//     text-shadow: rgba(45,255,196,0.9) 0px 0 30px;
// }


button{
    font-size: 0.9em;
    // margin: 5px;
    height: 30px;
}



@media (min-width:1000px){
    #navbar {
        display:grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "resources planetInfo account"
        ;
        margin-left: 2%;
        margin-right: 2%;
        font-size: 1em;
        text-align: center;
        justify-content: space-between;
        color:var(--body-color);
    }
    
    #resources {
        grid-area: resources;
        display:grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "ironInfo gazInfo diamondInfo energyInfo"
        ;
    }
    
    #planetInfoDesktop {
        grid-area: planetInfo;
        display:grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "planet serverTime"
        ;
    }

    #planetInfoMobile{
        display: none;
    }
    
    #account {
        grid-area: account;
        display:grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "alertInfo messageButton accountButton"
        ;
    }
    
    .ironInfo{
        grid-area: ironInfo;
    }
    
    .gazInfo{
        grid-area: gazInfo;
    }
    
    .diamondInfo{
        grid-area: diamondInfo;
    }
    
    .energyInfo{
        grid-area: energyInfo;
    }
    
    .planet{
        grid-area: planet;
    }
    
    .serverTime{
        grid-area: serverTime;
    }
    
    .alertInfo{
        grid-area: alertInfo;
    }
    
    .messageButton{
        grid-area: messageButton;
    }
    
    .accountButton{
        grid-area: accountButton;
    }
    
    
    button{
        font-size: 1em;
        height: 2em;
    }
}

@media (min-width:600px){
    
}

@media (min-width:416px){

}


