<div id="navbar">
    <div id="resources">
        <div class="ironInfo">Fer</div>
        <div class="gazInfo">Hydrogène</div>
        <div class="diamondInfo">Diamant</div>
        <div class="energyInfo">Energie</div>
    </div>

    <div id="planetInfo">
        <p class="planet">Nom planète + position</p>
        <p class="serverTime">Heure serveur</p>
    </div>


    <div id="account">
        <!-- <p class="alertInfo">Alertes</p> -->
        <button class="messageButton" (click)="toMessages()">Messages</button>
        <!-- <img class="icon messageButton" src="assets/images/aerial-signal.png" (click)="toMessages()" /> -->
        <!-- <p>Messages</p> -->
        <button class="accountButton" (click)="toAccount()">Compte</button>
        <!-- <img class="icon accountButton" src="assets/images/cyborg-face.png" (click)="toAccount()" /> -->
        <!-- <p>Compte</p> -->
    </div>

</div>