#navbar {
    margin-bottom: 50px;
    display: flex;
    // background: url(https://robertsspaceindustries.com/rsi/static/images/gridbg_glow.png), 
    // url(https://robertsspaceindustries.com/rsi/static/images/common/bg-stars-2560.jpg) repeat;
}

.navButton {
    margin-right: 15px;
}

.resources {
}

.center {
}

.account {
}