*{
    color:var(--body-color) ;
}

.messages {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.messageButtons{
    margin: 10px;
    display: flex;
    margin-bottom: 40px;
}

.messageButton{
    margin: 10px;
}

.mockupTransmission{
    margin-left: 10px;
    margin-right: 10px;
}

