.account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center{
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    margin: 10px;
}
