<div class="bg-container">
  <h1 class="title">Vue d'ensemble</h1>

  <div class="resources">
    <div class="resource">
      <p class="name">Fer : 4000/5000</p>
    </div>
    <div class="resource">
      <p class="name">Hydrogène : 5000/5000</p>
    </div>
    <div class="resource">
      <p class="name">Diamants : 2000/5000</p>
    </div>
    <div class="resource">
      <p class="name">Energie : 200/heure</p>
    </div>
  </div>

  <img src="assets/images/planet1.png" />

  <div class="buildingList">
    <h2 class="name">Bâtiments en construction</h2>
    <ul>
      <li>Mine de fer : 40 min</li>
      <li>Laboratoire : 5 min</li>
      <li>Tour de défense : 10 min</li>
    </ul>
  </div>

  <div class="shipList">
    <h2 class="name">Vaisseaux en construction</h2>
    <ul>
      <li>Chasseur léger : 10 min</li>
      <li>Chasseur lourd : 5 min</li>
    </ul>
  </div>

  <div class="researchList">
    <h2 class="name">Recherches en cours</h2>
    <ul>
      <li>Mine de fer niveau 2 : 2h30</li>
    </ul>
  </div>

  <div class="fleetList">
    <h2 class="name">Flottes en orbite</h2>
    <ul>
      <li>Flotte 1 : 500pv/3000 puissance</li>
      <li>Flotte 2 : 200pv/4000 puissance</li>
      <li>Flotte 3 : 600pv/9000 puissance</li>
      <li>Flotte 4 : 100pv/0 puissance</li>
    </ul>
  </div>
</div>
