<div> 
<p>Fer : 200</p>
<p>Hydrogène : 200</p>
<p>Diamant : 200</p>

<p>Nom planète + position</p>
<p>Heure serveur</p>


<p>Alertes</p>
<button>Messages</button>
<button>Compte</button>

</div>


<h1>Vue d'ensemble</h1>

<div>Liste bâtiments en construction</div>
<div>Liste vaisseaux en construction</div>
<div>Liste recherche en cours</div>

<button>Changer planète</button>
<button>Batiments</button>
<button>Ressources</button>
<button>Recherche</button>
<button>Flotte</button>
<button>Alliances</button>