<h1 class="title center">Vue d'ensemble</h1>

<div class="bg-container">
    <img class="mobilePlanet" src="assets/images/planets/planet{{updatePlanetInUI()}}.png" />


    <div id="overview">

        <div class="overviewMobile">
            <div class="mobileLists">

                <div class="mobileList">
                    <h2 class="name center">Bâtiments en construction</h2>
                    <ul>
                        <li>
                            Mine de fer : 40min
                        </li>
                    </ul>

                </div>
                <div class="mobileList">
                    <h2 class="name center">Vaisseaux en construction</h2>
                    <ul>
                        <li>
                            Chasseur léger : 10 min
                        </li>
                        <li>
                            Chasseur lourd : 5 min
                        </li>
                    </ul>

                </div>
                <div class="mobileList">
                    <h2 class="name center">Recherches en cours</h2>
                    <ul>
                        <li>
                            Mine de diamant : niveau 2 : 2h30
                        </li>
                    </ul>

                </div>
                
                
                
                
            </div>

        </div>
        <div class="overviewDesktop">
            <div class="buildingList">
                <h2 class="name center">Bâtiments en construction</h2>
                <div>
                    Mine de fer : 40min
                </div>
            </div>
        
            <div class="shipList">
                <h2 class="name center">Vaisseaux en construction</h2>
                <div>
                    Chasseur léger : 10 min
                </div>
                <div>
                    Chasseur lourd : 5 min
                </div>
            </div>
        
            <div class="researchList">
                <h2 class="name center">Recherches en cours</h2>
                <div>
                    Mine de diamant : niveau 2 : 2h30
                </div>
            </div>
        </div>
        



    </div>





   

    <!-- <div class="fleetList">
        <h2 class="name">Flottes en orbite</h2>
        <ul>
            <li>Flotte 1 : 500pv/3000 puissance</li>
            <li>Flotte 2 : 200pv/4000 puissance</li>
            <li>Flotte 3 : 600pv/9000 puissance</li>
            <li>Flotte 4 : 100pv/0 puissance</li>
        </ul>
    </div> -->

</div>


