

.c-bracket-box {
    margin: 0.5rem;
  }
  
  .c-bracket-box__container {
    max-width: 48rem;
    margin: 16px;
    padding: 1rem;
    border: 1px solid var(--bracket-box-border);
    border-radius: 2px;
    position: relative;
    background-color: rgba(236, 244, 254, 0.1) !important;
    box-shadow: 0 0 8px 2px var(--bracket-box-shadow),
          inset 0 0 8px 2px var(--bracket-box-shadow);
    
    &::before,
    &::after {
      content: "";
      opacity: 0.7;
      width: calc(100% + 18px);
      height: 10px;
      border: 1px solid #ecf4fe;
      border-radius: 1px;
      position: absolute;
      left: -9px;
    }
  
    &::before {
      border-bottom: none;
      top: -12px;
      transform: perspective(45px) rotateX(8deg);
    }
  
    &::after {
      border-top: none;
      bottom: -12px;
      transform: perspective(45px) rotateX(-8deg);
    }
  }

  .home{
    padding-top: 5%;
    // width: 400px;
  }

  button{
    font-size: 1.2em;
  }

  .homeButtons{
    padding-top: 20px;
    padding-bottom: 20px;
  }

