
<div class="home">

    <div class="c-bracket-box center">
        <div class="c-bracket-box__container">

            <div class="mockupTransmission">
                <div style="color: red;">***| SECURING PROXY CONNECTION |***</div>
                <div style="color: red;">***| STARTING PROXY SESSION |***</div>
                <div>// TSS Messages downloading</div>
                <div>[......]</div>
                <div>[Entering planetary atmosphere]</div>
                <div>[Loading Welcome.txt transmission]</div>
                
                <p>Explorez les mystères de l'univers et bâtissez des colonies intergalactiques ! 
                    Partez à la découverte de mondes inexplorés, repoussez les frontières 
                    de la science et bâtissez des colonies prospères dans les confins de l'espace. <br>
                    Préparez-vous à vivre des batailles stellaires palpitantes, à résoudre des énigmes  <br>
                    cosmiques et à forger votre destinée dans cette quête vers l'inconnu. <br>
                    <br>
                    Embarquez dès maintenant pour un voyage au-delà des frontières de notre système solaire !
                    <br>
                    Êtes-vous prêt à devenir un pionnier spatial ? 
                </p>



<div class="homeButtons">
    <div class="center">
        <!-- Si pas connecté -->
    <button routerLink="/login"  >Se connecter</button>
    </div>
    <!-- <div class="center"> -->
        <!-- Si connecté -->
    <!-- Redirect to overview -->
    <!-- <button  routerLink="/overview" class="corner-button" >Vue d'ensemble</button> -->
 
<!-- </div> -->



</div>
<div>ORDERoS 5.0.01 . 2040-08-02 . <br> System 01 <br> Build x325</div>

</div>

      </div>

    

</div>



<app-animate-background></app-animate-background>
