body{
    font-family: 'Jura', sans-serif;
    text-align: center;
    color:var(--body-color);
}

text{
    color:var(--body-color);

}

.popupButtons{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Jura', sans-serif;
}

.bg-container{
    background: url(https://robertsspaceindustries.com/rsi/static/images/gridbg_glow.png), 
    url(https://robertsspaceindustries.com/rsi/static/images/common/bg-stars-2560.jpg) repeat;
    border:.2rem solid var(--primary-color);
    font-family: 'Jura', sans-serif;
    color:var(--body-color);

}

.name{
    grid-area: name;
    text-align: center;
    color:var(--body-color);
    /* font-size:1rem; */
    font-weight: 700;
    font-family: 'Jura', sans-serif;
}

.text{
    font-family: 'Jura', sans-serif;
    color:var(--body-color);

}

.picture{
    width: 200px;
    grid-area: picture;
    display: flex;
    margin: auto;
}

.position, .capacity{
    grid-area: level;
    color:var(--body-color);
    font-family: 'Jura', sans-serif;
}

.shipList{
    grid-area: level;
    color:var(--body-color);
    font-family: 'Jura', sans-serif;
}

button{
font-size: 1.2em;
}

.researchDetail{
padding: 5px;
}
