<div class="popup-container">
    <mat-dialog-content class="mat-typography">

        <div class="researchDetail">

            <img class="picture" src="assets/images/research/{{researchNameSrc}}.png" />
            <h1 class="name">{{researchName}}</h1>
            <p class="level"><span class="categoryTitle">Niveau :</span> {{researchLevel}} <span class="upgradeText"> ->
                    {{researchLevel +1}}</span></p>
            <!-- <p class="capacity"><span>Taille : </span>2 <span class="upgradeText" *ngIf="isBuilt == true"> -> 4</span></p> -->
            <p class="time"><span class="categoryTitle">Temps de recherche : </span>10 min</p>
            <p class="ressources"><span class="categoryTitle">Ressources nécessaires : </span>Fer :
                {{researchIronPrice}} Hydrogène : {{researchHydrogenPrice}} Diamant : {{researchDiamondPrice}}</p>
            <p class="required"><span class="categoryTitle">Prérequis : </span>Recherche spatiale niveau 1</p>
            <p class="description"><span class="categoryTitle">Description : </span>{{researchDescription}}</p>

        </div>

    </mat-dialog-content>


    <mat-dialog-actions class="popupButtons">
        <button *ngIf="this.researchLevel< 5" mat-dialog-close
            (click)="getResearchLevelUp(token, researchName, researchIronPrice, researchDiamondPrice, researchHydrogenPrice, researchEnergyPrice, researchLevel, ironPlayer, diamondPlayer, hydrogenePlayer, energyPlayer)">Rechercher</button>
        <div *ngIf="this.researchLevel>= 5" class="errorMessage">Niveau maximum</div>
    </mat-dialog-actions>

</div>