
.bg-container { 
    background: url("/assets/images/backgrounds/researchBackground.jpg") no-repeat center center fixed; 
    background-size: cover;
    height: 500px;
  }




.research{
    background-color: rgba(0, 44, 73, 0.9);
    border: 1px solid var(--blue, .2) ;
    width: auto;
    max-width: 350px;
    margin: auto;
    padding: 5px;
    margin-bottom: 10px;
}

.name{
    grid-area: name;
    font-size: 20px;
    font-weight: 700;
    text-align: center;

}

.picture{
    width: 120px;
    grid-area: picture;
    margin-left: 10%;
    margin-bottom: 5%;
}

.level{
    grid-area: level;
}

.technoTree{
    margin: auto !important;
    width: 100px;
}

.title{
    text-align: center;
}

button{
    background:var(--light-color);
    border:.1rem solid var(--light-color);
    color:var(--body-color) !important;
}

.center{
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center  !important;
}