
<!-- Si pas de laboratoire, disabled -->

<h1 class="title">Recherche</h1>

<div class="bg-container">

    <div id="resources">
        <div class="center">
            <button mat-button  (click)="openTechnologyTree()" >Arbre Technologique</button>
        </div>
    
        <div class="research" (click)="openResearchDetail()">
            <p class="name">Recherche Spatiale</p>
            <p class="level">Niveau 1</p>
        </div>
        
        
        <div class="research" (click)="openResearchDetail()">
            <p class="name">Recherche Minière</p>
            <p class="level">Niveau 1</p>
        </div>
        
        <div class="research" (click)="openResearchDetail()">
            <p class="name">Recherche Militaire</p>
            <p class="level">Niveau 1</p>
        </div>
    
    </div>
</div>
