


 <div class="popup-container">
    <h1 mat-dialog-title class="name">Arbre Technologique</h1>
    <mat-dialog-content >
    
        <div id="technologyTree_desktop">


    <div class="searchTitles">
        <div class="spaceTitle">
            <button (click)="switchToSpaceSearch()">Recherche Spatiale</button>
        </div>
    
        <div class="mineTitle">
            <button (click)="switchToMineSearch()">Recherche Minière</button>
        </div>
    
        <div class="militaryTitle">
            <button (click)="switchToMilitarySearch()">Recherche Militaire</button>
        </div>
    </div>
    
    <div *ngIf="this.spaceSearch" class="spaceSearch">
        <div class="technology">
            <img class="icon" src="assets/images/research/combustion.png" />
            <p class="technologyName">Réacteur à combustion</p>
            <p class="technologyLevel">Niveau 1</p>
        </div>
        <div class="technologyLink">
            <p class="technologyArrow"></p>
            <p class="technologyName">Réacteur à combustion niveau 1/2</p>
            <p class="technologyLevel"></p>
        </div>
        <div class="technology">
            <img class="icon" src="assets/images/research/impulsion.png" />
            <p class="technologyName">Réacteur à impulsion</p>
            <p class="technologyLevel">Niveau 1</p>
        </div>

        <div class="technology">
            <img class="icon" src="assets/images/research/cargo.png" />
            <p class="technologyName">Cargo amélioré</p>
            <p class="technologyLevel">Niveau 1</p>
        </div>
        <div class="technology">
            <img class="icon" src="assets/images/research/protection.png" />
            <p class="technologyName">Coques améliorées</p>
            <p class="technologyLevel">Niveau 1</p>
        </div>
        <div class="technology">
            <img class="icon" src="assets/images/research/astrophysique.png" />
            <p class="technologyName">Astrophysique</p>
            <p class="technologyLevel">Niveau 1</p>
        </div>





    </div>

    <div *ngIf="this.militarySearch" class="militarySearch">


        <div class="technology">
            <img class="icon" src="assets/images/research/weapon.png" />
            <p class="technologyName">Armes améliorées</p>
            <p class="technologyLevel">Niveau 1</p>
        </div>
        <div class="technologyLink">
            <p class="technologyArrow"></p>
            <p class="technologyName">Armes améliorées 1/2</p>
            <p class="technologyLevel"></p>
        </div>
        <div class="technology">
            <img class="icon" src="assets/images/research/laser.png" />
            <p class="technologyName">Armes laser</p>
            <p class="technologyLevel">Niveau 1</p>
        </div>
    
        <div class="technology">
            <img class="icon" src="assets/images/research/fleet.png" />
            <p class="technologyName">Technologie flotte</p>
            <p class="technologyLevel">Niveau 1</p>
        </div>
        </div>


    <div *ngIf="this.mineSearch" class="mineSearch">

        <div class="technology">
            <img class="icon" src="assets/images/research/fer.png" />
            <p class="technologyName">Mine de fer améliorée</p>
            <p class="technologyLevel">Niveau 1</p>
        </div>
        <div class="technology">
            <img class="icon" src="assets/images/research/hydrogene.png" />
            <p class="technologyName">Extracteur d'hydrogène amélioré</p>
            <p class="technologyLevel">Niveau 1</p>
        </div>
        <div class="technology">
            <img class="icon" src="assets/images/research/diamant.png" />
            <p class="technologyName">Mine de diamant améliorée</p>
            <p class="technologyLevel">Niveau 1</p>
        </div>
    
        <div class="technology">
            <img class="icon" src="assets/images/research/energie.png" />
            <p class="technologyName">Centrale électrique améliorée</p>
            <p class="technologyLevel">Niveau 1</p>
        </div>
        <div class="technology">
            <img class="icon" src="assets/images/research/plasma.png" />
            <p class="technologyName">Technologie Plasma</p>
            <p class="technologyLevel">Niveau 1</p>
        </div>


    </div>

    

    </div>



    
<div id="technologyTree_mobile">

    <mat-tab-group class="tab">
        <mat-tab label="Spatiale"> 
            <div class="spaceSearch">
          
            <div class="technology">
                <img class="icon" src="assets/images/research/combustion.png" />
                <p class="technologyName">Réacteur à combustion</p>
                <p class="technologyLevel">Niveau 1</p>
            </div>
            <div class="technologyLink">
                <p class="technologyArrow"></p>
                <p class="technologyName">Réacteur à combustion niveau 1/2</p>
                <p class="technologyLevel"></p>
            </div>
            <div class="technology">
                <img class="icon" src="assets/images/research/impulsion.png" />
                <p class="technologyName">Réacteur à impulsion</p>
                <p class="technologyLevel">Niveau 1</p>
            </div>
    
            <div class="technology">
                <img class="icon" src="assets/images/research/cargo.png" />
                <p class="technologyName">Cargo amélioré</p>
                <p class="technologyLevel">Niveau 1</p>
            </div>
            <div class="technology">
                <img class="icon" src="assets/images/research/protection.png" />
                <p class="technologyName">Coques améliorées</p>
                <p class="technologyLevel">Niveau 1</p>
            </div>
            <div class="technology">
                <img class="icon" src="assets/images/research/astrophysique.png" />
                <p class="technologyName">Astro-<br>physique</p>
                <p class="technologyLevel">Niveau 1</p>
            </div>
            </div>
     
        </mat-tab>
    
        <mat-tab label="Militaire"> 
      
            <div class="militarySearch">
            <div class="technology">
                <img class="icon" src="assets/images/research/weapon.png" />
                <p class="technologyName">Armes améliorées</p>
                <p class="technologyLevel">Niveau 1</p>
            </div>
            <div class="technologyLink">
                <p class="technologyArrow"></p>
                <p class="technologyName">Armes améliorées 1/2</p>
                <p class="technologyLevel"></p>
            </div>
            <div class="technology">
                <img class="icon" src="assets/images/research/laser.png" />
                <p class="technologyName">Armes laser</p>
                <p class="technologyLevel">Niveau 1</p>
            </div>
        
            <div class="technology">
                <img class="icon" src="assets/images/research/fleet.png" />
                <p class="technologyName">Technologie flotte</p>
                <p class="technologyLevel">Niveau 1</p>
            </div>
            </div>
        </mat-tab>
    
        <mat-tab label="Minière"> 
            <div class="mineSearch">
      
            <div class="technology">
                <img class="icon" src="assets/images/research/fer.png" />
                <p class="technologyName">Mine de fer améliorée</p>
                <p class="technologyLevel">Niveau 1</p>
            </div>
            <div class="technology">
                <img class="icon" src="assets/images/research/hydrogene.png" />
                <p class="technologyName">Extracteur d'hydrogène amélioré</p>
                <p class="technologyLevel">Niveau 1</p>
            </div>
            <div class="technology">
                <img class="icon" src="assets/images/research/diamant.png" />
                <p class="technologyName">Mine de diamant améliorée</p>
                <p class="technologyLevel">Niveau 1</p>
            </div>
        
            <div class="technology">
                <img class="icon" src="assets/images/research/energie.png" />
                <p class="technologyName">Centrale électrique améliorée</p>
                <p class="technologyLevel">Niveau 1</p>
            </div>
            <div class="technology">
                <img class="icon" src="assets/images/research/plasma.png" />
                <p class="technologyName">Technologie Plasma</p>
                <p class="technologyLevel">Niveau 1</p>
            </div>
            </div>
        </mat-tab>
        
      </mat-tab-group>
</div>