body{
    font-family: 'Jura', sans-serif;
    text-align: center;
    color:var(--body-color);
}

*{
    color:var(--body-color);
}

// #technologyTreeDesktop{
//     display: none;
// }


.icon{
    width: 100px;
    display: flex;
    margin-left: 10%;
}

.technologyName{
    text-align: center;
    margin: 0;
}
.technologyLevel{
    text-align: center;
    margin: 0;
}

.technology{
    width: 120px;
    align-items: center;
}

.technologyLink{
    width: 120px;
    padding-top: 40px;
    align-items: center;

}

.technologyArrow{
    flex-grow: 1;
    border-bottom: 1px solid var(--body-color);
    // margin: 5px
}

.searchTitles{
    font-family: 'Jura', sans-serif;
    color:var(--body-color) !important;
    display: flex;
    justify-content: space-between;
}

.spaceSearch{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 250px;
    padding-top: 30px;
    margin: auto;
}
.mineSearch{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 250px;
    padding-top: 30px;
    margin: auto;

}
.militarySearch{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 250px;
    padding-top: 30px;
    margin: auto;
}

.searchBlock{
    background: #101010;
    border: 2px solid #f95eff;
    margin-bottom: 5px;
    color: #f95eff;
    padding: 3px;
    margin: 5px;
}

.spaceTitle{
    grid-area: spaceTitle;
    font-size: 0.7em ;
    margin-right: 5px;
}

.mineTitle{
    grid-area: mineTitle;
    font-size: 0.7em ;
    margin-right: 5px;
}

.militaryTitle{
    grid-area: militaryTitle;
    font-size: 0.7em ;
    margin-right: 5px;
}

.levelTitle{
    grid-area: levelTitle;
    font-size: 0.7em !important;
    margin-right: 20px;
    width: 90px;
}

.level1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.level2{
    height: 300px;
}

.level3{
    height: 300px;
}

.spaceLvl1{
    grid-area: spaceLvl1;
    margin-right: 5px;
    padding: 4px;
}

.mineLvl1{
    grid-area: mineLvl1;
    margin-right: 5px;
    padding: 4px;

}
.militaryLvl1{
    grid-area: militaryLvl1;
    margin-right: 5px;
    padding: 4px;
}

.spaceLvl2{
    grid-area: spaceLvl2;
    margin-right: 5px;
    padding: 4px;
}
.mineLvl2{
    grid-area: mineLvl2;
    margin-right: 5px;
    padding: 4px;
}
.militaryLvl2{
    grid-area: militaryLvl2;
    margin-right: 5px;
    padding: 4px;
}

.spaceLvl3{
    grid-area: spaceLvl3;
    margin-right: 5px;
    padding: 4px;
}
.mineLvl3{
    grid-area: mineLvl3;
    margin-right: 5px;
    padding: 4px;
}
.militaryLvl3{
    grid-area: militaryLvl3;
    margin-right: 5px;
    padding: 4px;
}

.border1{
    border-bottom: 2px solid rgba(0, 153, 255, 0.8);
}

.border2{
    border-bottom: 2px solid rgba(0, 153, 255, 0.8);
    margin-top: 10px;
}

.border3{
    border-bottom: 2px solid rgba(0, 153, 255, 0.8);
    margin-top: 10px;

}

text{
    color:var(--body-color);
}

.popupButtons{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Jura', sans-serif;
}

.bg-container{
    background: url(https://robertsspaceindustries.com/rsi/static/images/gridbg_glow.png), 
    url(https://robertsspaceindustries.com/rsi/static/images/common/bg-stars-2560.jpg) repeat;
    border:.2rem solid var(--primary-color);
    font-family: 'Jura', sans-serif;
    color:var(--body-color);

}

.name{
    grid-area: name;
    text-align: center;
    color:var(--body-color);
    font-weight: 700;
    font-family: 'Jura', sans-serif;
}



@media (min-width:1000px) {
    // #technologyTreeMobile{
    //     display: none;
    // }

    .spaceTitle{
        grid-area: spaceTitle;
        font-size: 1.2em ;
        margin-right: 5px;
    }
    
    .mineTitle{
        grid-area: mineTitle;
        font-size: 1.2em ;
        margin-right: 5px;
    }
    
    .militaryTitle{
        grid-area: militaryTitle;
        font-size: 1.2em ;
        margin-right: 5px;
    }

    .searchBlock{
        background: #101010;
        border: 2px solid #f95eff;
        margin-bottom: 5px;
        color: #f95eff;
        padding: 5px;
        margin: 10px;
        font-size: 2em;
    }

    .name{
        grid-area: name;
        text-align: center;
        color:var(--body-color);
        font-size:2em;
        font-weight: 700;
        font-family: 'Jura', sans-serif;
    }
}

@media (min-width:600px){
    
}

@media (min-width:416px){

}

