*{
    color:var(--body-color);
}









.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

img{
    margin-top: 10px;
    border-radius: 15px;
    width: auto;
    max-width: 300px;
}

.center{
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form{
    margin-top: 10px;
    margin: auto;

}


input{
    background-color:var(--blue-color);
    background-image: url(https://robertsspaceindustries.com/rsi/static/images/content-page/horizontal-lined-bg.png);
    color:var(--body-color);
    margin: 5px;
    border-radius: 5px;
    border:.1rem solid var(--light-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color:var(--primary-color);
  -webkit-box-shadow: 0 0 0px 40rem  rgba(10, 24, 34) inset;
  outline: none;
}

input:hover, input:active{
    border-color: var(--primary-color) !important;
}

input:focus{
    outline: none;
    border-color: var(--primary-color) !important;

}

button:hover{
    background-color:rgba(45,255,196,0.9);
    color:var(--blue-color) !important;
    -webkit-box-shadow:0px 0px 15px 0px rgba(45,255,196,0.9);
    -moz-box-shadow: 0px 0px 15px 0px rgba(45,255,196,0.9);
    box-shadow: 0px 0px 15px 0px rgba(45,255,196,0.9);
}


@media (min-width:1000px){
    .login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;



    }
    
    img{
        margin-top: 10px;
        // margin-bottom: 20px;
        border-radius: 15px;
        width: auto;
        max-width: 400px;
    }
    
    .center{
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .form{
        margin-top: 10px;
        margin: auto;
    
    }
    

}

@media (min-width:600px){
    
}

@media (min-width:416px){

}



.wall{
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/18515/PIA09959-1280x800_copy.jpg);
    background-size: cover;
  }
  
  html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  body{
    background: #000;
    text-align: center;
  }
  
  body:before{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  
  .scene{
    display: inline-block;
    vertical-align: middle;
    perspective: 5px;
    perspective-origin: 50% 50%;
    position: relative;
  }
  
  .wrap{
    position: absolute;
    width: 1000px;
    height: 1000px;
    left: -500px;
    top: -500px;
    transform-style: preserve-3d;
    animation: move 12s infinite linear;
    animation-fill-mode: forwards;
    
  }
  
  .wrap:nth-child(2){
    animation: move 12s infinite linear;
    animation-delay: 6s;
  }
  
  .wall {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    animation: fade 12s infinite linear;
    animation-delay: 0;
  }
  
  .wrap:nth-child(2) .wall {
    animation-delay: 6s;
  }
  
  .wall-right {
    transform: rotateY(90deg) translateZ(500px);
  }
  
  .wall-left {
    transform: rotateY(-90deg) translateZ(500px);
  }
  
  .wall-top {
    transform: rotateX(90deg) translateZ(500px);
  }
  
  .wall-bottom {
    transform: rotateX(-90deg) translateZ(500px);
  }
  
  .wall-back {
    transform: rotateX(180deg) translateZ(500px);
  }
  
  @keyframes move {
    0%{
      transform: translateZ(-500px) rotate(0deg);
    }
    100%{
      transform: translateZ(500px) rotate(0deg);
    }
  }
  
  @keyframes fade {
    0%{
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
  }
  