.bg-container { 
    background: url("/assets/images/resourcesBackgroundMobile.jpg") no-repeat center center fixed; 
    background-size: cover;
    margin-left: 7.5px;
    margin-right: 7.5px;
    color:var(--body-color);

  }


// #buildings{
//     display:grid;
//     grid-template-columns: auto 170px;
//     grid-template-rows: 400px;
//     grid-template-areas: 
//     "onPlanet stock"
//     ;
// }  

// .combat{
//     grid-area: onPlanet;
//     // background-color: rgba(0, 44, 73, 0.8);
//     margin: 5px;
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr 1fr;
//     // overflow: scroll;

// }

// .civil{
//     grid-area: stock;
//     // background-color: rgba(0, 44, 73, 0.8);
//     margin: 5px;
//     // overflow: scroll;
// }

// .building{
//     display:grid;
//     grid-template-columns: auto;
//     grid-template-rows: auto;
//     grid-template-areas: 
//     "buildingPicture"
//     "buildingName"
//     "buildingLevel"
//     ;
//     margin-bottom: 20px;
//     // background-color: rgba(1, 117, 194, 0.8);
//     border: 1px solid var(--blue, .2) ;
//     width: auto;
//     max-width: 130px;
//     margin: auto;
//     margin-bottom: 10px;
//     padding: 5px;
// }

// .buildingName{
//     grid-area: buildingName;
//     font-size: 0.8em;
//     font-weight: 700;
//     text-align: center;
// }

// .title{
//     text-align: center;
//     margin-bottom: 10px;
//     // font-size: 0.8em;
// }

// .buildingNumber{
//     grid-area: buildingNumber;
// }

// .buildingPicture{
//     width: 60px;
//     grid-area: buildingPicture;
//     display: flex;
//     align-items: center;
//     margin: auto;
// }

// .buildings{
//     // background-color: rgba(1, 117, 194, 0.8);
//     margin: 5px;
//     width: 80px;
// }


// .name{
//     grid-area: name;
//     font-size: 0.8em;
//     font-weight: 700;
//     text-align: center;
// }

// .capacity{
//     grid-area: capacity;
// }

// .title{
//     text-align: center;
// }

// button{
//     background:var(--light-color);
//     border:.1rem solid var(--light-color);
//     color:var(--body-color) !important;
//     cursor: pointer;
// }


@media (min-width:1000px){

    .bg-container { 
        background: url("/assets/images/backgrounds/shipyardBackground.jpg") no-repeat center center fixed; 
        background-size: cover;
        margin-left: 10px;
        margin-right: 10px;
        height: 650px;
      }

    #ships{
        display:grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "combatTitle civilTitle"
        "combat civil"
        ;
    }  
    
    .combat{
        grid-area: combat;
        // background-color: rgba(0, 44, 73, 0.8);
        margin: 5px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        height: 220px;
        overflow: visible;
        position: relative;
        // top: 30%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .civil{
        grid-area: civil;
        // background-color: rgba(0, 44, 73, 0.8);
        margin: 5px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        height: 220px;
        overflow: visible;
        position: relative;
        // top: 30%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    
    .combatTitle{
        grid-area: combatTitle;
        text-align: center;
    }

    .civilTitle{
        grid-area: civilTitle;
        text-align: center;
    }

    .ship{
        display:grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "shipPicture"
        "shipName"
        "shipNumber"
        ;
        border: 1px solid var(--blue, .2) ;
        width: 140px;
        height: 180px;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 10px;
        padding: 5px;
        margin: 5px;
        background-color:var(--blue-color);
        
        background-image: url(https://robertsspaceindustries.com/rsi/static/images/content-page/horizontal-lined-bg.png);
        border:.1rem solid var(--light-color);
        padding: 5px;
    }

    .ship:hover{
        color:var(--primary-color) !important;
        border-color: var(--primary-color) ;
    }

    .shipNumber{
        grid-area: shipNumber;
        font-weight: 700;
        text-align: right;
        background-color: var(--blue-color);
    }



    .shipPicture{
        width: 130px;
        margin-top: 5px;
        grid-area: shipPicture;
        margin-left: 5px;
    }
    

    .name{
        grid-area: name;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
    }

    .shipName{
        grid-area: shipName;
        font-size: 1em;
        font-weight: 700;
        margin-bottom: 0px;
        padding-right: 5px;
        text-align: center;

    }
    
    .title{
        text-align: center;
        margin: 10px;
    }

}