

<div class="popup-container">
    <mat-dialog-content class="mat-typography">

<div class="sendFleet">
    <div class="travel">
        <div class="depart">
            <img src="assets/images/planets/planet{{currentPlanet}}.png" class="planetPicture" />
            <div class="planet"><span class="categoryTitle">{{planetName}}</span></div>
            <div class="position">{{positionX}}:{{positionY}}</div>
        </div>
        <div class="distance">
                <p class="distanceArrow"></p>
                <p class="distanceNumber">Distance: {{calculateDistance()}}</p>
        </div>
        <div class="arrivee">
            <img src="assets/images/planets/planet5.png" class="planetPicture" />
            <div class="planet"><span class="categoryTitle">Terra Nova</span></div>
            <div class="position">{{ennemyPositionX}}:{{ennemyPositionY}}</div>
        </div>
    </div>


<div class="missionButtons">
<div class="exploreButton">
    <button  >Explorer</button>
</div>
<div class="attackButton">
    <button  class="atkButton">Attaquer</button>
</div>  
<div class="transportButton">
    <button  >Transporter</button>
</div>
<div class="spyButton">
    <button  >Espionner</button>
</div>
<div class="colonizeButton">
    <button >Coloniser</button>
</div>  
</div>
</div>

       

 
    </mat-dialog-content>


    <mat-dialog-actions class="popupButtons">
        <button  mat-dialog-close >Retour</button>
        <button  mat-dialog-close >Envoyer la flotte</button>
    </mat-dialog-actions>

</div>