<!-- <div class="bg-container">
    <h1 mat-dialog-title class="name"> Flotte 1</h1>
    <mat-dialog-content class="mat-typography">
    
    <div>
        <p class="position">Position actuelle : X:Y</p>
        <p class="capacity">Capacité : 50/50</p>
    </div>

    <div class="shipList">
        <h2 class="name">Liste vaisseaux</h2>
        <ul>
            <li>Chasseurs légers : 40</li>
            <li>Chasseurs moyens : 5</li>
            <li>Chasseurs lourds : 5</li>
        </ul>
    </div>
    
    
    </mat-dialog-content>
    
    <mat-dialog-actions class="popupButtons">
        <div class="updateButton">
        <button mat-button mat-dialog-close >Modifier</button>
        </div>
        <div class="moveButton">
        <button mat-button mat-dialog-close >Déplacer</button>
        </div>
        <div class="attackButton">
        <button mat-button mat-dialog-close >Attaquer</button>
        </div>    
    </mat-dialog-actions>
</div> -->





<div class="bg-container">
    <mat-dialog-content class="mat-typography">

<div class="sendFleet">
    <div class="travel">
        <div class="depart">
            <img src="assets/images/planets/planet3.png" class="planetPicture" />
            <div class="planet">Planète1</div>
            <div class="position">23:2</div>
        </div>
        <div class="distance">
                <p class="distanceArrow"></p>
                <p class="distanceNumber">Distance : 46</p>
        </div>
        <div class="arrivee">
            <img src="assets/images/planets/planet5.png" class="planetPicture" />
            <div class="planet">Planète 2</div>
            <div class="position">12:45</div>
        </div>
    </div>


<div class="missionButtons">
<div class="exploreButton">
    <button mat-dialog-close >Expédition</button>
</div>
<div class="attackButton">
    <button mat-dialog-close >Attaquer</button>
</div>  
<div class="transportButton">
    <button mat-dialog-close >Transporter</button>
</div>
<div class="spyButton">
    <button mat-dialog-close >Espionner</button>
</div>
<div class="colonizeButton">
    <button mat-dialog-close >Coloniser</button>
</div>  
</div>
</div>

       

 
    </mat-dialog-content>


    <mat-dialog-actions class="popupButtons">
        <button  mat-dialog-close >Retour</button>
        <button  mat-dialog-close >Envoyer la flotte</button>
    </mat-dialog-actions>

</div>