.colonizeButton{
    grid-area: colonizeButton;
    display: flex;
    margin: auto;
    }
    
    .attackButton{
    grid-area: attackButton;
    text-align: center;

    }

    .atkButton{
        display: flex;
        margin: auto;
        text-align: center;
    }
    
    .exploreButton{
        display: flex;
        margin: auto;
    grid-area: exploreButton;
    }
    
    .transportButton{
        display: flex;
        margin: auto;
    grid-area: transportButton;
    }
    
    .spyButton{
        display: flex;
        margin: auto;
    grid-area: spyButton;
    }


    ::ng-deep .mdc-dialog .mdc-dialog__content {
        padding: 10px !important;
    }

.travel{
    grid-area: travel;
    display: grid;
    grid-template-areas:  
    "depart distance arrivee"
    ;
    }
    
    .depart{
    grid-area: depart;
    text-align: center;
    }
    
    .distance{
    grid-area: distance;
    padding-top: 50%;
    text-align: center;
    
    }
    
    .arrivee{
    grid-area: arrivee;
    text-align: center;
    
    }
    
    .missionButtons{
    grid-area: missionButtons;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:  
    "exploreButton colonizeButton"
    "transportButton spyButton"
    "attackButton attackButton"
    ;
    justify-content: space-between;
    }

    .planetPicture{
        width: 100px;
        grid-area: picture;
    }


    .popupButtons{
        display: flex;
        justify-content: space-between;
        margin: 15px;
        margin: auto;
    }

    button{
        font-size: 1.2em;
        margin: 5px;
    }

@media (min-width:1000px){
    
body{
    font-family: 'Jura', sans-serif;
}

.popupButtons{
    display: flex;
    justify-content: space-between;
    margin: 15px;

}

.distanceArrow{
    flex-grow: 1;
    border-bottom: 1px solid var(--body-color);
}


.name{
    grid-area: name;
    text-align: center;
    color:var(--body-color);
    font-weight: 700;
    font-family: 'Jura', sans-serif;
}

.picture{
    width: 200px;
    grid-area: picture;
}

.position, .capacity{
    grid-area: level;
    color:var(--body-color);
    font-family: 'Jura', sans-serif;
}

.shipList{
    grid-area: level;
    color:var(--body-color);
    font-family: 'Jura', sans-serif;
}

button{
    font-size: 1.2em;
    margin: 5px;
}

.attackButton{
    grid-area: attackButton;
    text-align: center;

    }

    .atkButton{
        display: flex;
        margin: auto;
        text-align: center;
    }
.sendFleet{
    display: grid;
    grid-template-areas:  
    "travel"
    "missionButtons"
    ;
}



.travel{
grid-area: travel;
display: grid;
grid-template-areas:  
"depart distance arrivee"
;
}

.depart{
grid-area: depart;
text-align: center;
}

.distance{
grid-area: distance;
padding-top: 50%;
text-align: center;

}

.arrivee{
grid-area: arrivee;
text-align: center;

}

.missionButtons{
grid-area: missionButtons;
display: grid;
grid-template-areas:  
"exploreButton colonizeButton transportButton spyButton"
"attackButton attackButton attackButton attackButton"
;
margin-top: 10px;
}






}


@media (min-width:600px){

}

@media (min-width:416px){

}