<div class="bg-container">
    <h1 mat-dialog-title class="name"> Flotte 1</h1>
    <mat-dialog-content class="mat-typography">
    
    <div>
        <p class="position">Position actuelle : X:Y</p>
        <p class="capacity">Capacité : 50/50</p>
    </div>

    <div class="shipList">
        <h2 class="name">Liste vaisseaux</h2>
        <ul>
            <li>Chasseurs légers : 40</li>
            <li>Chasseurs moyens : 5</li>
            <li>Chasseurs lourds : 5</li>
        </ul>
    </div>
    
    
    </mat-dialog-content>
    
    <mat-dialog-actions class="popupButtons">
        <div class="updateButton">
        <button mat-button mat-dialog-close >Modifier</button>
        </div>
        <div class="moveButton">
        <button mat-button mat-dialog-close >Déplacer</button>
        </div>
        <div class="attackButton">
        <button mat-button mat-dialog-close >Attaquer</button>
        </div>    
    </mat-dialog-actions>
</div>