<div class="bg-container">
    <h1 mat-dialog-title class="name">Chasseur Léger</h1>
    <h3  class="name">M1 Solaris</h3>
    <mat-dialog-content class="mat-typography">
        <img class="picture" src="assets/images/lightShip.png"/>
    <div>
        <p class="position">PV : 100</p>
        <p class="position">Dégats : 10</p>
        <p class="capacity">Type : Combat</p>
        <p class="capacity">Vitesse : 3 cases/heure</p>
        <p class="capacity">Taille : 2</p>
        <p class="capacity">Cargo : 0</p>
        <p class="capacity">Description : Petit vaisseau de combat</p>
    </div>
 
    </mat-dialog-content>

</div>