<div class="bg-container">
    <h1 mat-dialog-title class="name">Chasseur Léger</h1>
    <h3  class="name">M1 Solaris</h3>
    <mat-dialog-content class="mat-typography">
        <img class="picture" src="assets/images/ships/lightShip.png"/>
    <div>
        <p class="position"><span class="categoryTitle">PV : </span>100</p>
        <p class="position"><span class="categoryTitle">Dégats : </span>50</p>
        <p class="capacity"><span class="categoryTitle">Type : </span>Combat</p>
        <p class="capacity"><span class="categoryTitle">Vitesse : </span>3 cases/heure</p>
        <p class="capacity"><span class="categoryTitle">Taille : </span>2</p>
        <p class="capacity"><span class="categoryTitle">Cargo : </span>0</p>
        <p class="capacity"><span class="categoryTitle">Description : </span>Petit vaisseau de combat</p>
    </div>
 
    </mat-dialog-content>

    <mat-dialog-actions class="popupButtons">
        <button  mat-dialog-close >Construire</button>
    </mat-dialog-actions>

</div>
