<h1 class="title">Classement des joueurs</h1>
<!-- Afficher différentes requêtes SQL -->

<button>Trier par points</button>
<button>Trier par batiments</button>
<button>Trier par victoires</button>
<button>Trier par nombre de planètes</button>


<div class="ranking">
    <ul>
        <li>1 - Véran</li>
        <li>2 - Karlach</li>
        <li>3 - Valxi</li>
        <li>4 - Shepard</li>
        <li>5 - Mekaz</li>
        <li>6 - Coco</li>
        <li>7 - Azha</li>
        <li>8 - Nightzio</li>
        <li>9 - Letarba</li>
        <li>10 - Mathias</li>
    </ul>
</div>