button{
    font-size: 1.2em;
}

.title{
    display: flex;
    margin: 40px;
}

.rankingButtons{
    display: flex;
justify-content: space-around;
}

.ranking{
    font-size: 1.1em;
    margin: 20px;
}