.bg-container { 
    background: url("/assets/images/backgrounds/buildingsBackground.jpg") no-repeat center center ; 
  }

  .onPlanet{
    grid-area: onPlanet;
    margin: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    top: 10%;
}

.buildings{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "buildingName "
    "buildingPicture "
    "buildingLevel "
    "futurepanel__footer "
    ;
    width: 150px;
    height: 150px;
    margin: 2px;
    background-color:var(--blue-color);
    
    background-image: url(https://robertsspaceindustries.com/rsi/static/images/content-page/horizontal-lined-bg.png);
    border:.1rem solid var(--light-color);
    padding: 5px;
}


.buildings:hover{
    color:var(--primary-color) !important;
    border-color: var(--primary-color);
}

.buildingName{
    grid-area: buildingName;
    font-size: 0.8em;
    font-weight: 700;
    text-align: center;
}

.buildingLevel{
    grid-area: buildingLevel;
    font-size: 0.8em;
}

.title{
    text-align: center;
    margin: 10px;
}

.buildingNumber{
    grid-area: buildingNumber;
}

.buildingPicture{
    width: 60px;
    grid-area: buildingPicture;
    display: flex;
    align-items: center;
    margin: auto;
}



.name{
    grid-area: name;
    font-size: 0.8em;
    font-weight: 700;
    text-align: center;
}

.capacity{
    grid-area: capacity;
}

@media (min-width:1000px){

    .bg-container { 
        background: url("/assets/images/backgrounds/buildingsBackground.png") no-repeat center center fixed; 
      }

    
    .onPlanet{
        grid-area: onPlanet;
        margin: 5px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        position: relative;
        top: 70%;
    }

    .buildings{
        display:grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "buildingPicture buildingName"
        "buildingPicture buildingLevel"
        "futurepanel__footer futurepanel__footer"
        // "cross ."
        ;
        width: 300px;
        height: 150px;
        margin: auto;
        background-color:var(--blue-color);
        
        background-image: url(https://robertsspaceindustries.com/rsi/static/images/content-page/horizontal-lined-bg.png);
        border:.1rem solid var(--light-color);
        padding: 5px;
        
    }


    .buildings:hover{
        color:var(--primary-color) !important;
        border-color: var(--primary-color) ;
        cursor: pointer;

    }

    .disabled{
        filter: grayscale(100%);
        // pointer-events:none;
        // border-color: transparent ;
    }
    

// .cross{
//     grid-area: cross;
//     // float: left;
//     position: relative;
//     top: -180px;
//     left: 0;
//     z-index: 20;
//     width: 200px;
// }

    .buildingPicture{
        width: 100px;
        margin-top: 15%;
        grid-area: buildingPicture;
        margin-left: 5px;
        margin-bottom: 5%;
    }

    .buildingLevel{
        font-size: 1em;

    }
    

    .name{
        grid-area: name;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
    }

    .buildingName{
        grid-area: buildingName;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
    }
    
    .title{
        text-align: center;
    }
}