<div class="bg-container">
    <!-- <h1 mat-dialog-title class="name">Chantier spatial</h1> -->
    <mat-dialog-content class="mat-typography">

        <div class="buildingDetail">
            <img class="picture" src="assets/images/buildings/shipFactory.png"/>
            
                <h1 class="name">Chantier spatial</h1>
                <p class="type"><span class="categoryTitle">Type : </span>Production</p>
                <p class="level"><span class="categoryTitle">Niveau :</span> 1</p>
                <p class="capacity"><span class="categoryTitle">Taille : </span>2</p>
                <p class="time"><span class="categoryTitle">Temps de construction : </span>10 min</p>
                <p class="ressources"><span class="categoryTitle">Ressources nécessaires : </span>200 Fer 300 Hydrogène 100 Diamant</p>
                <p class="required"><span class="categoryTitle">Prérequis : </span>Recherche spatiale niveau 1</p>
                <p class="description"><span class="categoryTitle">Description : </span>Permet de construire des vaisseaux</p>
            
        </div>

 
    </mat-dialog-content>


    <mat-dialog-actions class="popupButtons">
        <button *ngIf="isBuilt == true" mat-dialog-close class="destroyButton" (click)="openBuildingDestroy()">Détruire</button>
    
        <button *ngIf="isBuilt == true" mat-dialog-close (click)="openBuildingBuild()">Améliorer</button>
        <button *ngIf="isBuilt == false" mat-dialog-close (click)="openBuildingBuild()">Construire</button>


        <button  *ngIf="chantier" mat-dialog-close (click)="toShipyard()">Accéder au chantier spatial</button>
    </mat-dialog-actions>

</div>