<div class="popup-container">
    <mat-dialog-content class="mat-typography">

        <div class="buildingDetail">
            <img class="picture" src="assets/images/buildings/shipFactory.png" />

            <h1 class="name">{{buildingName}}</h1>
            <p class="type"><span class="categoryTitle">Type : </span>{{buildingType}}</p>
            <p class="level"><span class="categoryTitle">Niveau :</span> {{buildingLevel}}</p>
            <!-- <p class="capacity"><span class="categoryTitle">Taille : </span>{{buildingCapacity}}</p> -->
            <p class="time"><span class="categoryTitle">Temps de construction : </span>10 min</p>
            <p class="ressources"><span class="categoryTitle">Ressources nécessaires : </span>Fer : {{buildingIronPrice}} Hydrogène : {{buildingHydrogenePrice}} Diamant : {{buildingDiamondPrice}}</p>
            <p class="required"><span class="categoryTitle">Prérequis : </span>Recherche spatiale niveau 1</p>
            <p class="description"><span class="categoryTitle">Description : </span>{{buildingDescription}}</p>

        </div>


    </mat-dialog-content>


    <mat-dialog-actions class="popupButtons">
        <button *ngIf="isBuilt == true" mat-dialog-close class="destroyButton"
            (click)="openBuildingDestroy()">Détruire</button>

        <button *ngIf="isBuilt == true" mat-dialog-close (click)="openBuildingBuild()">Améliorer</button>
        <button *ngIf="isBuilt == false" mat-dialog-close (click)="openBuildingBuild()">Construire</button>


        <button *ngIf="this.buildingName == 'Chantier spatial' " mat-dialog-close (click)="toShipyard()">Accéder au chantier spatial</button>
    </mat-dialog-actions>

</div>