<div class="popup-container">
    <mat-dialog-content class="mat-typography">

        <div class="buildingDetail">

            <img class="picture" src="assets/images/buildings/{{buildingNameSrc}}.png" />
            <h1 class="name">{{buildingName}}</h1>
            <p class="type"><span class="categoryTitle">Type : </span>{{buildingType}}</p>
            <p class="level"><span class="categoryTitle">Niveau :</span> {{buildingLevel}} <span class="upgradeText"> -> {{buildingLevel +1}}</span></p>
            <!-- <p class="capacity"><span class="categoryTitle">Taille : </span>2 <span class="upgradeText" *ngIf="isBuilt == true"> -> 4</span></p> -->
            <p class="time" *ngIf="this.buildingLevel !== 0"><span class="categoryTitle">Temps d'amélioration :
                </span>10 min
            </p>
            <p class="time" *ngIf="this.buildingLevel == 0"><span class="categoryTitle">Temps de construction :
                </span>10 min
            </p>
            <p class="ressources"><span class="categoryTitle">Ressources nécessaires : </span>Fer :
                {{buildingIronPrice}} Hydrogène
                : {{buildingHydrogenePrice}} Diamant : {{buildingDiamondPrice}}</p>
            <p class="required"><span class="categoryTitle">Prérequis : </span>Recherche spatiale niveau 1</p>
            <p class="description"><span class="categoryTitle">Description : </span>{{buildingDescription}}</p>

        </div>

    </mat-dialog-content>


    <mat-dialog-actions class="popupButtons">

        <button *ngIf="this.buildingIsBuild == true" mat-dialog-close (click)="upgradeBuilding()">Améliorer</button>
        <button *ngIf="this.buildingIsBuild == false" mat-dialog-close
            (click)="buildBuilding(token, buildingName, buildingLevel, buildingIronPrice, buildingDiamondPrice, buildingEnergyPrice, buildingHydrogenePrice, buildingIsBuild, ironPlayer, diamondPlayer, hydrogenePlayer, energyPlayer)">Construire
            {{buildingName}}</button>
    </mat-dialog-actions>

</div>