// * { 
//     margin: 0; 
//     font-family: 'Jura', sans-serif;

//     background: url(https://robertsspaceindustries.com/rsi/static/images/gridbg_glow.png), 
//     url(https://robertsspaceindustries.com/rsi/static/images/common/bg-stars-2560.jpg) repeat;
// }


.bg-container { 
    background: url("/assets/images/resourcesBackgroundMobile.jpg") no-repeat center center fixed; 
    background-size: cover;
    margin-left: 7.5px;
    margin-right: 7.5px;
    color:var(--body-color);
    
  }


// #buildings{
//     display:grid;
//     grid-template-columns: auto 170px;
//     grid-template-rows: 400px;
//     grid-template-areas: 
//     "onPlanet stock"
//     ;
// }  

.onPlanet{
    grid-area: onPlanet;
    // background-color: rgba(0, 44, 73, 0.8);
    margin: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow: scroll;

}

.stock{
    grid-area: stock;
    // background-color: rgba(0, 44, 73, 0.8);
    margin: 5px;
    overflow: scroll;
}

// .building{
//     display:grid;
//     grid-template-columns: auto;
//     grid-template-rows: auto;
//     grid-template-areas: 
//     "buildingPicture"
//     "buildingName"
//     "buildingLevel"
//     ;
//     // margin-bottom: 20px;
//     // background-color: rgba(1, 117, 194, 0.8);
//     border: 1px solid var(--blue, .2) ;
//     width: auto;
//     max-width: 130px;
//     margin: auto;
//     // margin-bottom: 10px;
//     padding: 5px;
// }

.buildingName{
    grid-area: buildingName;
    font-size: 0.8em;
    font-weight: 700;
    text-align: center;
}

.title{
    text-align: center;
    // font-size: 0.8em;
}

.buildingNumber{
    grid-area: buildingNumber;
}

.buildingPicture{
    width: 60px;
    grid-area: buildingPicture;
    display: flex;
    align-items: center;
    margin: auto;
}

.buildings{
    // background-color: rgba(1, 117, 194, 0.8);
    margin: 5px;
    width: 80px;
    background-color:var(--blue-color);
    background-image: url(https://robertsspaceindustries.com/rsi/static/images/content-page/horizontal-lined-bg.png);
}

.buildings:hover{
    color:var(--primary-color) !important;
    border-color: var(--primary-color);
}

.name{
    grid-area: name;
    font-size: 0.8em;
    font-weight: 700;
    text-align: center;
}

.capacity{
    grid-area: capacity;
}

.title{
    text-align: center;
}

button{
    background:var(--light-color);
    border:.1rem solid var(--light-color);
    color:var(--body-color) !important;
    cursor: pointer;
}


@media (min-width:1000px){

    .bg-container { 
        background: url("/assets/images/backgrounds/buildingsBackground.jpg") no-repeat center center fixed; 
        background-size: cover;
        margin-left: 10px;
        margin-right: 10px;
        height: 650px;
      }

    // #buildings{
    //     display:grid;
    //     grid-template-columns: auto 350px;
    //     grid-template-rows: auto;
    //     grid-template-areas: 
    //     "onPlanet stock"
    //     ;
    // }  
    
    .onPlanet{
        grid-area: onPlanet;
        // background-color: rgba(0, 44, 73, 0.8);
        margin: 5px;
        display: grid;
        overflow: visible;
        position: relative;
        top: 70%;
        margin-top: 20px;
        margin-bottom: 20px;

    }
    
    // .stock{
    //     grid-area: stock;
    //     // background-color: rgba(0, 44, 73, 0.8);
    //     margin: 5px;
    //     overflow: visible;
    // }

    .buildings{
        display:grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "buildingPicture buildingName"
        "buildingPicture buildingLevel"
        "futurepanel__footer futurepanel__footer"
        ;
        // margin-bottom: 20px;
        // background-color: rgba(0, 44, 73, 0.8);


        // border: 1px solid var(--blue, .2) ;
        // width: auto;
        width: 300px;
        height: 150px;
        margin: auto;
        // margin-bottom: 10px;
        background-color:var(--blue-color);
        
        background-image: url(https://robertsspaceindustries.com/rsi/static/images/content-page/horizontal-lined-bg.png);
        border:.1rem solid var(--light-color);
        padding: 5px;
        // margin-bottom: 10px;

    }
    
    .buildings:hover{
        color:var(--primary-color) !important;
        border-color: var(--primary-color) ;
    }

    .buildingPicture{
        width: 100px;
        margin-top: 15%;
        grid-area: buildingPicture;
        margin-left: 5px;
        margin-bottom: 5%;
    }

    .buildingLevel{
        grid-area: buildingLevel;
    }
    
    // .buildings{
    //     background-color: rgba(1, 117, 194, 0.8);
    //     margin: auto;
    //     width: 300px;

    // }

    .name{
        grid-area: name;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
    }

    .buildingName{
        grid-area: buildingName;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
    }
    
    .title{
        text-align: center;
        margin: 10px;
        // font-size: 20px;
    }
}

// @media (min-width:600px){
//     #buildings{
//         display:grid;
//         grid-template-columns: auto 350px;
//         grid-template-rows: auto;
//         grid-template-areas: 
//         "onPlanet stock"
//         ;
//     }  
    
//     .onPlanet{
//         grid-area: onPlanet;
//         background-color: rgba(0, 44, 73, 0.8);
//         margin: 5px;
//         display: grid;
//     }
    
//     .stock{
//         grid-area: stock;
//         background-color: rgba(0, 44, 73, 0.8);
//         margin: 5px;
//     }

//     .building{
//         display:grid;
//         grid-template-columns: auto;
//         grid-template-rows: auto;
//         grid-template-areas: 
//         "buildingPicture buildingName"
//         "buildingPicture buildingNumber"
//         ;
//         margin-bottom: 20px;
//         background-color: rgba(1, 117, 194, 0.8);
//         border: 1px solid var(--blue, .2) ;
//         width: auto;
//         max-width: 300px;
//         margin: auto;
//         margin-bottom: 10px;
//         padding: 5px;
//     }

//     .buildingPicture{
//         width: 120px;
//         margin-top: 15%;
//         grid-area: buildingPicture;
//         margin-left: 5px;
//         margin-bottom: 5%;
//     }
    
//     .buildings{
//         background-color: rgba(1, 117, 194, 0.8);
//         margin: 5px;
//         width: 200px;
//         width: 150px;
//     }
// }

// @media (min-width:416px){
//     #buildings{
//         display:grid;
//         grid-template-columns: auto 350px;
//         grid-template-rows: auto;
//         grid-template-areas: 
//         "onPlanet stock"
//         ;
//     }  
    
//     .onPlanet{
//         grid-area: onPlanet;
//         background-color: rgba(0, 44, 73, 0.8);
//         margin: 5px;
//         display: grid;
//     }
    
//     .stock{
//         grid-area: stock;
//         background-color: rgba(0, 44, 73, 0.8);
//         margin: 5px;
//     }

//     .building{
//         display:grid;
//         grid-template-columns: auto;
//         grid-template-rows: auto;
//         grid-template-areas: 
//         "buildingPicture buildingName"
//         "buildingPicture buildingNumber"
//         ;
//         margin-bottom: 20px;
//         background-color: rgba(1, 117, 194, 0.8);
//         border: 1px solid var(--blue, .2) ;
//         width: auto;
//         max-width: 300px;
//         margin: auto;
//         margin-bottom: 10px;
//         padding: 5px;
//     }

//     .buildingPicture{
//         width: 120px;
//         margin-top: 15%;
//         grid-area: buildingPicture;
//         margin-left: 5px;
//         margin-bottom: 5%;
//     }
    
//     .buildings{
//         background-color: rgba(1, 117, 194, 0.8);
//         margin: 5px;
//         width: 200px;
//         width: 150px;
//     }
// }