<h1 class="title">Bâtiments</h1>
<h3 class="title">Capacité de la planète : 30/50</h3>

<div class="bg-container" id="buildings">

<div class="onPlanet">
    <!-- <h2 class="title">Bâtiments construits</h2> -->


        <div class="buildings" (click)="openBuildingDetail()">
            <img class="buildingPicture" src="assets/images/buildings/robotFactory.png"/>
            <p class="buildingName">Usine de robots</p>
            <p class="buildingLevel">Niveau 1</p>
        
        </div>
        <div class="buildings" (click)="openBuildingDetail()">
            <img class="buildingPicture" src="assets/images/buildings/laboratoire.png"/>
            <p class="buildingName">Laboratoire</p>
            <p class="buildingLevel">Niveau 1</p>
        </div>
        <div class="buildings" (click)="openBuildingDetail()">
            <img class="buildingPicture" src="assets/images/buildings/shipFactory.png"/>
            <p class="buildingName">Chantier spatial</p>
            <p class="buildingLevel">Niveau 1</p>
        </div>
        <div class="buildings" (click)="openBuildingDetail()">
            <img class="buildingPicture" src="assets/images/buildings/terraformeur.png"/>
            <p class="buildingName">Terraformeur</p>
            <p class="buildingLevel">Niveau 1</p>
        </div>
        
</div>
</div>

<!-- <div class="stock">
    <h2 class="title">Bâtiments disponibles</h2>
    <div class="building" (click)="openBuildingBuild()">
        <img class="buildingPicture" src="assets/images/mineFer.png"/>
        <p class="buildingName">Mine de fer</p>
    </div>
    <div class="building" (click)="openBuildingBuild()">
        <img class="buildingPicture" src="assets/images/mineGaz.png"/>
        <p class="buildingName">Mine de gaz</p>
    </div>
    <div class="building" (click)="openBuildingBuild()">
        <img class="buildingPicture" src="assets/images/mineDiamant.png"/>
        <p class="buildingName">Mine de diamant</p>
    </div>
    <div class="building" (click)="openBuildingBuild()">
        <img class="buildingPicture" src="assets/images/centrale.png"/>
        <p class="buildingName">Centrale électrique</p>
    </div>
</div> -->

