body{
    font-family: 'Jura', sans-serif;
    /* color:var(--body-color); */
    
}

.popupButtons{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Jura', sans-serif;
}

.bg-container{
    background: url(https://robertsspaceindustries.com/rsi/static/images/gridbg_glow.png), 
    url(https://robertsspaceindustries.com/rsi/static/images/common/bg-stars-2560.jpg) repeat;
    border:.2rem solid var(--primary-color);
    font-family: 'Jura', sans-serif;
    /* color:var(--body-color); */

}

.name{
    grid-area: name;
    text-align: center;
    color:var(--body-color);
    font-weight: 700;
    font-family: 'Jura', sans-serif;
}


.buildingDetail{
display: grid;
grid-template-columns: auto;
grid-template-rows: auto;
grid-template-areas: 
"picture name level"
"picture type ."
"picture capacity ."
"picture time ."
"picture ressources ."
"picture required ."
"picture description ."
;
color:var(--body-color);

}

.level{
    font-size: 0.8em;
    grid-area: level;
}
.type{
    grid-area: type;
}
.time{
    grid-area: time;
}
.ressources{
    grid-area: ressources;
}
.required{
    grid-area: required;
}
.description{
    grid-area: description;
}
.capacity{
    grid-area: capacity;
}


.picture{
    width: 200px;
    grid-area: picture;
}

/* .position, .capacity{
    grid-area: level;
    color:var(--body-color);
    font-family: 'Jura', sans-serif;
} */

.shipList{
    grid-area: level;
    color:var(--body-color);
    font-family: 'Jura', sans-serif;
}

button{
    background:var(--light-color);
    border:.1rem solid var(--light-color);
    color:var(--body-color) !important;
    font-family: 'Jura', sans-serif;
}


@media (min-width:1000px){
    body{
        font-family: 'Jura', sans-serif;
    }

    /* .buildingDetail{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "picture name level"
        "picture type ."
        "picture time ."
        "picture ressources ."
        "picture required ."
        "picture description ."
        ;
        }
     */
    .popupButtons{
        display: flex;
        justify-content: space-evenly;
        font-family: 'Jura', sans-serif;
    }
    
    .bg-container{
        background: url(https://robertsspaceindustries.com/rsi/static/images/gridbg_glow.png), 
        url(https://robertsspaceindustries.com/rsi/static/images/common/bg-stars-2560.jpg) repeat;
        border:.2rem solid var(--primary-color);
        font-family: 'Jura', sans-serif;
    }
    
    .name{
        grid-area: name;
        text-align: center;
        color:var(--body-color);
        /* font-size:1rem; */
        font-weight: 700;
        font-family: 'Jura', sans-serif;
    }
    
    .picture{
        width: 350px;
        grid-area: picture;
    }

    
    .shipList{
        grid-area: level;
        color:var(--body-color);
        font-family: 'Jura', sans-serif;
    }
    
    button{
        /* background:var(--light-color); */
        /* border:.1rem solid var(--light-color); */
        color:var(--body-color) ;
        font-family: 'Jura', sans-serif;
    cursor: pointer;
    background-color:var(--blue-color);
    background-image: url(https://robertsspaceindustries.com/rsi/static/images/content-page/horizontal-lined-bg.png);
    border:.1rem solid var(--light-color);

    }
/* 
    font-family: 'Jura', sans-serif;
    cursor: pointer;
    background-color:var(--blue-color);
    background-image: url(https://robertsspaceindustries.com/rsi/static/images/content-page/horizontal-lined-bg.png);
    color:var(--body-color);
    border:.1rem solid var(--light-color); */

    .button:hover{
        color:var(--primary-color) !important;
        /* // color: red; */
        border-color: var(--primary-color) !important;
    }
}

@media (min-width:600px){
    
}

@media (min-width:416px){

}
