body{
    font-family: 'Jura', sans-serif;
color:var(--body-color);

}

.popupButtons{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Jura', sans-serif;
}

.bg-container{
    border:.2rem solid var(--primary-color);
    font-family: 'Jura', sans-serif;
}

.name{
    grid-area: name;
    text-align: center;
    color:var(--body-color);
    /* font-size:1rem; */
    font-weight: 700;
    font-family: 'Jura', sans-serif;
}

.picture{
    width: 200px;
display: flex;
margin: auto;
}


button{
    font-size: 1.2em !important;
}

.destroyButton:hover{
    color: red !important;
    border-color: red !important;
}