<div class="bg-container">
    <h1 mat-dialog-title class="name">Mine de fer</h1>
    <mat-dialog-content class="mat-typography">
        <img class="picture" src="assets/images/mineGaz.png"/>
    <div>
        <p class="capacity">Type : Récolte</p>
        <p class="capacity">Temps de construction : 10 min</p>
        <p class="capacity">Coût : 45 fer</p>
        <p class="capacity">Taille : 2</p>
        <p class="capacity">Description : Extrait du fer</p>
    </div>
 
    </mat-dialog-content>


    <mat-dialog-actions class="popupButtons">
        <!-- <button mat-button mat-dialog-close>Détruire</button> -->
    
        <button mat-button mat-dialog-close>Construire</button>
    </mat-dialog-actions>

</div>

<!-- 
Nom : {nom}
Type : {type}
Temps de construction : {tempsConstruction}
Coût : {coûtConstruction}
Taille : {tailleBatiment}
Description : {descriptionBatiment} -->