<h1 class="title">Bâtiments</h1>

<div class="bg-container" id="buildings">

    <div class="onPlanet">

        <div class="buildings" (click)="openBuildingDetail(robotFactory)">
            <img class="buildingPicture" src="assets/images/buildings/robotFactory.png" />
            <p class="buildingName">Usine de robots</p>
            <p class="buildingLevel">Niveau : {{robotFactoryLevel}}</p>
            <div class="futurepanel__footer">#0002134678 TFFC:3 /////////////</div>

        </div>
        <div class="buildings" (click)="openBuildingDetail(laboratory)">
            <img class="buildingPicture" src="assets/images/buildings/laboratory.png" />
            <p class="buildingName">Laboratoire</p>
            <p class="buildingLevel">Niveau : {{laboratoryLevel}}</p>
            <div class="futurepanel__footer">#0002134678 TFFC:3 /////////////</div>

        </div>
        <div class="buildings" (click)="openBuildingDetail(shipyard)">
            <img class="buildingPicture" src="assets/images/buildings/shipyard.png" />
            <p class="buildingName">Chantier spatial</p>
            <p class="buildingLevel">Niveau : {{shipyardLevel}}</p>
            <div class="futurepanel__footer">#0002134678 TFFC:3 /////////////</div>

        </div>
        <div class="buildings" (click)="openBuildingDetail(terraformer)">
            <img class="buildingPicture" src="assets/images/buildings/terraformer.png" />
            <p class="buildingName">Terraformeur</p>
            <p class="buildingLevel">Niveau : {{terraformeurLevel}}</p>
            <div class="futurepanel__footer">#0002134678 TFFC:3 /////////////</div>

        </div>

    </div>
</div>