<div class="bg-container">
    <!-- <h1 mat-dialog-title class="name">Chantier spatial</h1> -->
    <mat-dialog-content class="mat-typography">

        <div class="buildingDetail">
            <img class="picture" src="assets/images/shipFactory.png"/>
            
                <p class="name">Chantier spatial</p>
                <p class="type">Type : Production</p>
                <p class="level">Niveau : 1</p>
                <p class="capacity">Taille : 2</p>
                <p class="time">Temps de construction : 10 min</p>
                <p class="ressources">Ressources nécessaires :200 Fer 300 Hydrogène 100 Diamant</p>
                <p class="required">Prérequis : Recherche spatiale niveau 1</p>
                <p class="description">Description : Permet de construire des vaisseaux</p>
            
        </div>

 
    </mat-dialog-content>


    <mat-dialog-actions class="popupButtons">
        <button mat-button mat-dialog-close>Détruire</button>
    
        <button mat-button mat-dialog-close (click)="openBuildingBuild()">Construire/Améliorer</button>


        <button mat-button mat-dialog-close (click)="toShipyard()">Accéder au chantier spatial</button>
    </mat-dialog-actions>

</div>