body {
    font-family: 'Jura', sans-serif;
}




.name {
    grid-area: name;
    text-align: center;
    color: var(--body-color);
    font-weight: 700;
    font-family: 'Jura', sans-serif;
}

.buildingDetail {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "name"
        "picture"
        "level"
        "type "
        "time "
        "ressources "
        "required "
        "description "
    ;
}

.level {
    font-size: 0.8em;
    grid-area: level;
}

.type {
    font-size: 0.8em;
    grid-area: type;
}

.time {
    font-size: 0.8em;
    grid-area: time;
}

.ressources {
    font-size: 0.8em;
    grid-area: ressources;
}

.required {
    font-size: 0.8em;
    grid-area: required;
}

.description {
    font-size: 0.8em;
    grid-area: description;
}

.capacity {
    font-size: 0.8em;
    grid-area: capacity;
}


.popupButtons {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Jura', sans-serif;
}

button {
    font-size: 1.3em !important;
}



.name {
    grid-area: name;
    text-align: center;
    color: var(--body-color);
    font-weight: 700;
    font-family: 'Jura', sans-serif;
}

.picture {
    width: 150px;
    grid-area: picture;
    display: flex;
    margin: auto;
}



@media (min-width:1000px) {
    .picture {
        // min-width: 300px;
        max-width: 450px;
        width: auto;
        margin-right: 10px;
        grid-area: picture;
    }

    .buildingDetail {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
            "picture name level"
            "picture type ."
            "picture time ."
            "picture ressources ."
            "picture required ."
            "picture description ."
        ;
    }

    .level {
        font-size: 1.2em;
        grid-area: level;
    }

    .type {
        font-size: 1.2em;
        grid-area: type;
    }

    .time {
        font-size: 1.2em;
        grid-area: time;
    }

    .ressources {
        font-size: 1.2em;
        grid-area: ressources;
    }

    .required {
        font-size: 1.2em;
        grid-area: required;
    }

    .description {
        font-size: 1.2em;
        grid-area: description;
    }

    .capacity {
        font-size: 1.2em;
        grid-area: capacity;
    }
}

// @media (min-width:600px){

// }

// @media (min-width:416px){

// }