body{
    font-family: 'Jura', sans-serif;
}

.popupButtons{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Jura', sans-serif;
}

.bg-container{
    background: url(https://robertsspaceindustries.com/rsi/static/images/gridbg_glow.png), 
    url(https://robertsspaceindustries.com/rsi/static/images/common/bg-stars-2560.jpg) repeat;
    border:.2rem solid var(--primary-color);
    font-family: 'Jura', sans-serif;
}

.name{
    grid-area: name;
    text-align: center;
    color:var(--body-color);
    font-weight: 700;
    font-family: 'Jura', sans-serif;
}

.picture{
    width: 200px;
    grid-area: picture;
}

.position, .capacity{
    grid-area: level;
    color:var(--body-color);
    font-family: 'Jura', sans-serif;
}

.shipList{
    grid-area: level;
    color:var(--body-color);
    font-family: 'Jura', sans-serif;
}

button{
    background:var(--light-color);
    border:.1rem solid var(--light-color);
    color:var(--body-color) !important;
    font-family: 'Jura', sans-serif;
}


@media (min-width:1000px){
    body{
        font-family: 'Jura', sans-serif;
    }
    
    .popupButtons{
        display: flex;
        justify-content: space-evenly;
        font-family: 'Jura', sans-serif;
    }
    
    .bg-container{
        background: url(https://robertsspaceindustries.com/rsi/static/images/gridbg_glow.png), 
        url(https://robertsspaceindustries.com/rsi/static/images/common/bg-stars-2560.jpg) repeat;
        border:.2rem solid var(--primary-color);
        font-family: 'Jura', sans-serif;
    }
    
    .name{
        grid-area: name;
        text-align: center;
        color:var(--body-color);
        /* font-size:1rem; */
        font-weight: 700;
        font-family: 'Jura', sans-serif;
    }
    
    .picture{
        width: 400px;
        grid-area: picture;
    }
    
    .position, .capacity{
        grid-area: level;
        color:var(--body-color);
        font-family: 'Jura', sans-serif;
    }
    
    .shipList{
        grid-area: level;
        color:var(--body-color);
        font-family: 'Jura', sans-serif;
    }
    
    button{
        background:var(--light-color);
        border:.1rem solid var(--light-color);
        color:var(--body-color) !important;
        font-family: 'Jura', sans-serif;
    }
}

@media (min-width:600px){
    
}

@media (min-width:416px){

}
