
<h1 class="title">Chantier spatial</h1>

<div class="bg-container">

    <div id="shipyard">



    <div class="combatShip">
    <h2 class="combatTitle">Combat</h2>

    <div class="ship_lightShip ship corner-button" (click)="openShipDetail(lightShip)">
        <img class="shipPicture" src="assets/images/ships/lightShip.png"/>
        <p class="shipName">Chasseur léger</p>
        <p class="shipNumber">{{lightShipQuantity}}</p>
    </div>
    <div class="ship_mediumShip ship corner-button" (click)="openShipDetail(mediumShip)">
        <img class="shipPicture" src="assets/images/ships/mediumShip.png"/>
        <p class="shipName">Chasseur lourd</p>
        <p class="shipNumber">{{mediumShipQuantity}}</p>
    </div>
    <div class="ship_heavyShip ship corner-button" (click)="openShipDetail(heavyShip)">
        <img class="shipPicture" src="assets/images/ships/heavyShip.png"/>
        <p class="shipName">Destroyer</p>
        <p class="shipNumber">{{heavyShipQuantity}}</p>
    </div>
    <div class="ship_scoutShip ship corner-button" (click)="openShipDetail(scoutShip)">
        <img class="shipPicture" src="assets/images/ships/scoutShip.png"/>
        <p class="shipName">Eclaireur</p>
        <p class="shipNumber">{{scoutShipQuantity}}</p>
    </div>

    </div>




    <div class="civilShip">

    <h2 class="civilTitle">Civil</h2>

    <div class="ship_cargoShip ship corner-button" (click)="openShipDetail(cargoShip)">
        <img class="shipPicture" src="assets/images/ships/cargoShip.png"/>
        <p class="shipName">Transporteur léger</p>
        <p class="shipNumber">{{cargoShipQuantity}}</p>
    </div>
    <div class="ship_heavyCargoShip ship corner-button" (click)="openShipDetail(heavyCargoShip)">
        <img class="shipPicture" src="assets/images/ships/heavyCargoShip.png"/>
        <p class="shipName">Transporteur lourd</p>
        <p class="shipNumber">{{heavyCargoShipQuantity}}</p>
    </div>
    <div class="ship_recyclerShip ship corner-button" (click)="openShipDetail(recyclerShip)">
        <img class="shipPicture" src="assets/images/ships/recyclerShip.png"/>
        <p class="shipName">Récolteur</p>
        <p class="shipNumber">{{recyclerShipQuantity}}</p>
    </div>
    <div class="ship_colonisateur ship corner-button" (click)="openShipDetail(colonisateur)">
        <img class="shipPicture" src="assets/images/ships/colonisateur.png"/>
        <p class="shipName">Colonisateur</p>
        <p class="shipNumber">{{colonisateurQuantity}}</p>
    </div>

    </div>



</div>
