<div class="popup-container">
    <h1 mat-dialog-title class="name">{{shipName}}</h1>
    <!-- <h3  class="name">M1 Solaris</h3> -->
    <mat-dialog-content class="mat-typography">
        <img class="picture" src="assets/images/ships/{{shipNameSrc}}.png"/>
    <div>
        <p class="position"><span class="categoryTitle">PV : </span>{{shipPv}}</p>
        <p class="position"><span class="categoryTitle">Dégats : </span>{{shipDamage}}</p>
        <p class="capacity"><span class="categoryTitle">Type : </span>{{shipType}}</p>
        <p class="capacity"><span class="categoryTitle">Vitesse : </span>{{shipSpeed}} cases/heure</p>
        <p class="capacity"><span class="categoryTitle">Carburant : </span>{{shipFuel}}</p>
        <p class="capacity"><span class="categoryTitle">Cargo : </span>{{shipCapacity}}</p>
    </div>
 
    </mat-dialog-content>

    <mat-dialog-actions class="popupButtons">
        <button (click)="openShipBuild()" mat-dialog-close >Construire</button>
    </mat-dialog-actions>

</div>
