<div class="bg-container">

    <h1 class="title">Ressources</h1>
    <div id="resources">
    
        <div class="building">
            <img class="picture" src="assets/images/mineFer.png"/>
            <p class="name">Mine de fer</p>
            <p class="level">Niveau</p>
            <button mat-button class="upgrade" (click)="openUpgrade()" >Améliorer</button>
        </div>
        
        
        <div class="building">
            <img class="picture" src="assets/images/mineGaz.png" />
            <p class="name">Mine d'hydrogène</p>
            <p class="level">Niveau</p>
            <button mat-button class="upgrade" >Améliorer</button>
        </div>
        
        <div class="building">
            <img class="picture" src="assets/images/mineDiamant.png"/>
            <p class="name">Mine de diamant</p>
            <p class="level">Niveau</p>
            <button mat-button class="upgrade" >Améliorer</button>
        </div>
        
        <div class="building">
            <img class="picture" src="assets/images/centrale.png"/>
            <p class="name">Centrale électrique</p>
            <p class="level">Niveau</p>
            <button mat-button class="upgrade" >Améliorer</button>
        </div>
    </div>
</div>



