
<h1 class="title">Ressources</h1>

<div class="bg-container" >

<div class="onPlanet">

        <div class="resourceBuilding" (click)="openBuildingDetail()">
            <img class="resourceBuildingPicture" src="assets/images/buildings/mineFer.png"/>
            <p class="resourceBuildingName">Mine de fer</p>
            <p class="resourceBuildingLevel">Niveau 1</p>
            <div class="futurepanel__footer">#0002134678 TFFC:3 /////////////</div>
        </div>
        <div class="resourceBuilding" (click)="openBuildingDetail()">
            <img class="resourceBuildingPicture" src="assets/images/buildings/mineHydrogene.png"/>
            <p class="resourceBuildingName">Extracteur d'Hydrogène</p>
            <p class="resourceBuildingLevel">Niveau 1</p>
            <div class="futurepanel__footer">#0002134678 TFFC:3 /////////////</div>

        </div>
        <div class="resourceBuilding" (click)="openBuildingDetail()">
            <img class="resourceBuildingPicture" src="assets/images/buildings/mineDiamant.png"/>
            <p class="resourceBuildingName">Mine de diamant</p>
            <p class="resourceBuildingLevel">Niveau 1</p>
            <div class="futurepanel__footer">#0002134678 TFFC:3 /////////////</div>

        </div>
        <div class="resourceBuilding" (click)="openBuildingDetail()">
            <img class="resourceBuildingPicture" src="assets/images/buildings/centrale.png"/>
            <p class="resourceBuildingName">Centrale électrique</p>
            <p class="resourceBuildingLevel">Niveau 1</p>
            <div class="futurepanel__footer">#0002134678 TFFC:3 /////////////</div>

        </div>
        <div class="resourceBuilding" (click)="openBuildingDetail()">
            <img class="resourceBuildingPicture" src="assets/images/buildings/hangarFer.png"/>
            <p class="resourceBuildingName">Hangar de fer</p>
            <p class="resourceBuildingLevel">Niveau 1</p>
            <div class="futurepanel__footer">#0002134678 TFFC:3 /////////////</div>

        
        </div>
        <div class="resourceBuilding" (click)="openBuildingDetail()">
            <img class="resourceBuildingPicture" src="assets/images/buildings/hangarHydrogene.png"/>
            <p class="resourceBuildingName">Hangar d'Hydrogène</p>
            <p class="resourceBuildingLevel">Niveau 1</p>
            <div class="futurepanel__footer">#0002134678 TFFC:3 /////////////</div>

        </div>
        <div class="resourceBuilding" (click)="openBuildingDetail()">
            <img class="resourceBuildingPicture" src="assets/images/buildings/hangarDiamant.png"/>
            <p class="resourceBuildingName">Hangar de diamant</p>
            <p class="resourceBuildingLevel">Niveau 1</p>
            <div class="futurepanel__footer">#0002134678 TFFC:3 /////////////</div>

        </div>
        <div class="resourceBuilding" (click)="openBuildingDetail()">
            <img class="resourceBuildingPicture" src="assets/images/buildings/foreuse2.png"/>
            <p class="resourceBuildingName">Foreuse</p>
            <p class="resourceBuildingLevel">Niveau 1</p>
            <div class="futurepanel__footer">#0002134678 TFFC:3 /////////////</div>

        </div>
</div>
</div>