<h1 class="title">Ressources</h1>

<div class="bg-container">

    <div class="onPlanet">

        <div class="resourceBuilding" (click)="openBuildingDetail(ironMine)">
            <img class="resourceBuildingPicture" src="assets/images/buildings/ironMine.png" />
            <p class="resourceBuildingName">Mine de fer</p>
            <p class="resourceBuildingLevel">Niveau : {{ironMineLevelInUI()}}</p>
            <div class="futurepanel__footer">#0002134678 TFFC:3 /////////////</div>
        </div>
        <div class="resourceBuilding" (click)="openBuildingDetail(hydrogenMine)">
            <img class="resourceBuildingPicture" src="assets/images/buildings/hydrogenMine.png" />
            <p class="resourceBuildingName">Extracteur d'Hydrogène</p>
            <p class="resourceBuildingLevel">Niveau : {{hydrogenMineLevelInUI()}}</p>
            <div class="futurepanel__footer">#0002134678 TFFC:3 /////////////</div>

        </div>
        <div class="resourceBuilding" (click)="openBuildingDetail(diamondMine)">
            <img class="resourceBuildingPicture" src="assets/images/buildings/diamondMine.png" />
            <p class="resourceBuildingName">Mine de diamant</p>
            <p class="resourceBuildingLevel">Niveau : {{diamondMineLevelInUI()}}</p>
            <div class="futurepanel__footer">#0002134678 TFFC:3 /////////////</div>

        </div>
        <div class="resourceBuilding" (click)="openBuildingDetail(energyMine)">
            <img class="resourceBuildingPicture" src="assets/images/buildings/energyMine.png" />
            <p class="resourceBuildingName">Centrale électrique</p>
            <p class="resourceBuildingLevel">Niveau : {{energyMineLevelInUI()}}</p>
            <div class="futurepanel__footer">#0002134678 TFFC:3 /////////////</div>

        </div>
        <div class="resourceBuilding" (click)="openBuildingDetail(ironStockage)">
            <img class="resourceBuildingPicture" src="assets/images/buildings/ironStockage.png" />
            <p class="resourceBuildingName">Hangar de fer</p>
            <p class="resourceBuildingLevel">Niveau : {{ironStockageLevelInUI()}}</p>
            <div class="futurepanel__footer">#0002134678 TFFC:3 /////////////</div>


        </div>
        <div class="resourceBuilding" (click)="openBuildingDetail(hydrogenStockage)">
            <img class="resourceBuildingPicture" src="assets/images/buildings/hydrogenStockage.png" />
            <p class="resourceBuildingName">Hangar d'Hydrogène</p>
            <p class="resourceBuildingLevel">Niveau : {{hydrogenStockageLevelInUI()}}</p>
            <div class="futurepanel__footer">#0002134678 TFFC:3 /////////////</div>

        </div>
        <div class="resourceBuilding" (click)="openBuildingDetail(diamondStockage)">
            <img class="resourceBuildingPicture" src="assets/images/buildings/diamondStockage.png" />
            <p class="resourceBuildingName">Hangar de diamant</p>
            <p class="resourceBuildingLevel">Niveau : {{diamondStockageLevelInUI()}}</p>
            <div class="futurepanel__footer">#0002134678 TFFC:3 /////////////</div>

        </div>
        <div class="resourceBuilding" (click)="openBuildingDetail(drillingMachine)">
            <img class="resourceBuildingPicture" src="assets/images/buildings/drillingMachine.png" />
            <p class="resourceBuildingName">Foreuse</p>
            <p class="resourceBuildingLevel">Niveau : {{drillingMachineLevelInUI()}}</p>
            <div class="futurepanel__footer">#0002134678 TFFC:3 /////////////</div>

        </div>
    </div>
</div>