
<div class="bg-container">
    <h1 mat-dialog-title class="name"> Mine de fer</h1>
    <mat-dialog-content class="mat-typography">
    
    
        <img class="picture" src="assets/images/mineGaz.png" />
    
    
    <div>
        <p class="level">Niveau : 3</p>
        <p class="level">Production : 100 fer/heure</p>
    </div>
    
    
    </mat-dialog-content>
    
    
    
    <mat-dialog-actions class="popupButtons">
        <button mat-button mat-dialog-close>Retour</button>
    
        <button mat-button mat-dialog-close>Améliorer</button>
    </mat-dialog-actions>
</div>
