<h1 class="title">Alliances</h1>


<div class="bg-container">
 
<mat-tab-group class="tab">
  <mat-tab label="Créer"> 
    
    <div class="createAlliance">

       <form (ngSubmit)="onSubmit()" [formGroup]="addClanForm" #myForm="ngForm" class="center allianceForm">

    <div>
      <label for="alliance-name"></label>
      <input id="alliance-name" name="alliance-name" type="name" formControlName="name"
        placeholder="Nom de l'alliance">
    </div>

    <div>
      <label for="alliance-nickname"></label>
      <input id="alliance-nickname" name="alliance-nickname" type="name" formControlName="nickname"
        placeholder="Nom de l'admin">
    </div>
    <div>
      <label for="alliance-tag"></label>
      <input id="alliance-tag" name="alliance-tag" type="tag" formControlName="tag"
        placeholder="Tag de l'alliance">

        <div class="center">

          <button>Connexion</button>

        </div>
    </div>


  </form>

  </div>

  </mat-tab>
  <mat-tab label="Rejoindre"> 

    <div class="searchAlliance">

      <form class="center allianceForm">
        <input id="alliance-search" placeholder="Chercher une alliance">

        <div>
          <button class="center" type="submit">Chercher</button>
          </div>
      </form>

      


    </div>  
  
  </mat-tab>
</mat-tab-group>



</div>