/* You can add global styles to this file, and also import other style files */
:root {
    --body-color: #89b1c4;
    --primary-color: #00ebff;
    --secondary-color: #ffae00;
    --white-color: #fff;
    --price-color: #0f0;
    --light-color: rgba(22, 104, 159, 0.2);
    --blue-color: rgba(10, 24, 34, 0.8);
    --green-color: #677a0a;
    --line-color: #0a5688;
    --dark-black-color: #182027;
    --light-black-color: #1a252d;
    --shadow-color: #0074c2;
    --transparent-color: transparent;
}

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    color:var(--body-color);

    background: url(https://robertsspaceindustries.com/rsi/static/images/gridbg_glow.png), 
    url(https://robertsspaceindustries.com/rsi/static/images/common/bg-stars-2560.jpg) repeat;
}
