/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Jura:300,400,500,600,700&subset=cyrillic,cyrillic-ext,latin-ext');


*{
    font-family: 'Jura', sans-serif;
    // color:var(--body-color);
    // color: black;
    color:var(--body-color);

}

h1{
    color:var(--body-color);
}

:root {
    --body-color: #89b1c4;
    --primary-color: #00ebff;
    --secondary-color: #ffae00;
    --white-color: #fff;
    --price-color: #0f0;
    --light-color: rgba(22, 104, 159, 0.2);
    --blue-color: rgba(10, 24, 34, 0.8);
    --blue: rgb(120, 200, 255);
    --green-color: #677a0a;
    --line-color: #0a5688;
    --dark-black-color: #182027;
    --light-black-color: #1a252d;
    --shadow-color: #0074c2;
    --transparent-color: transparent;
    --bracket-box-shadow: rgba(236, 244, 254, 0.05);
    --bracket-box-background: rgba(236, 244, 254, 0.03);
    --bracket-box-border: rgba(236, 244, 254, 0.1);
    
}

html, body { height: 100%; }
body { 
    margin: 0; 
    // margin-bottom: 200px;
    // font-family: Roboto, "Helvetica Neue", sans-serif; 
    font-family: 'Jura', sans-serif;
    // color:var(--body-color);

    background: url(https://robertsspaceindustries.com/rsi/static/images/gridbg_glow.png), 
    url(https://robertsspaceindustries.com/rsi/static/images/common/bg-stars-2560.jpg) repeat;
    // url(https://images.pexels.com/photos/1169754/pexels-photo-1169754.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) repeat;
}

.ftooltip{
    background-color:var(--blue-color);
    background-image: url(https://robertsspaceindustries.com/rsi/static/images/content-page/horizontal-lined-bg.png);
    color:var(--body-color) !important;
    border:.1rem solid var(--light-color);
    // outline: none;
}

button{
    // background:var(--light-color);
    // border:.1rem solid var(--light-color);
    // color:var(--body-color) !important;
    font-family: 'Jura', sans-serif;
    cursor: pointer;
    background-color:var(--blue-color);
    background-image: url(https://robertsspaceindustries.com/rsi/static/images/content-page/horizontal-lined-bg.png);
    color:var(--body-color);
    border:.1rem solid var(--light-color);
    outline: none;

}


.errorMessage{
    color: red !important;
    margin-top: 4px;
    margin-bottom: 4px;
}

button:hover{
    // background-color:var(--light-color);
    // color:var(--blue-color) !important;
    // color:var(--primary-color) !important;
    // color: red;
    border-color: var(--primary-color);

    background-color:rgba(45,255,196,0.9);
    color:var(--blue-color) !important;
    -webkit-box-shadow:0px 0px 15px 0px rgba(45,255,196,0.9);
    -moz-box-shadow: 0px 0px 15px 0px rgba(45,255,196,0.9);
    box-shadow: 0px 0px 15px 0px rgba(45,255,196,0.9);
}

.categoryTitle{
    color:var(--secondary-color);
}

.upgradeText{
    color: rgb(0, 161, 0);
}

.center{
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@media (min-width:1000px){
    button{
        // background:var(--light-color);
        // border:.1rem solid var(--light-color);
        // color:var(--body-color) !important;
        // font-family: 'Jura', sans-serif;
    }
    
    button:hover{
        // background-color: rgba(0, 153, 255, 0.8);
    }
}

@media (min-width:600px){
    
}

@media (min-width:416px){

}

.futurepanel__footer {
    box-sizing: border-box;
    font-size: .8em;
    color: rgb(65, 116, 158);
    grid-area: futurepanel__footer;
    margin-bottom: 0;
    padding-bottom: 0;
  }




// .corner-button:before,
// .corner-button span:before,
// .corner-button:after,
// .corner-button span:after {
//     display: block;
//     content: "";
//     width: 15px;
//     height: 15px;
//     position: absolute;
//     text-align: center;
//     justify-content: center;
//     align-items: center;
// }
// .corner-button {
//     display: inline-block;
//     // font-family: "Roboto", sans-serif;
//     // font-size: 20px;
//     // letter-spacing: 5px;
//     text-align: center;
//     position: relative;
//     min-width: 100px;
//     min-height: 10px;
//     // margin: 20px;
//     background: none;
//     border: none;
//     text-decoration: none;
//     cursor: pointer;
//     color: #25ccf7;
//     border-radius: 10px;
//     padding: 12px 20px;
//     box-sizing: content-box;
//     border: 2px solid transparent;
//     text-align: center;
//     // line-height: 30px;
//     transition: 0.75s ease;
// }
// .corner-button:before {
//     top: -2px;
//     left: -2px;
//     border-top: 2px solid #0fbcf9;
//     border-top-left-radius: 8px;
//     border-left: 2px solid #0fbcf9;
//     transition: 0.75s all;
// }
// .corner-button:after {
//     top: -2px;
//     right: -2px;
//     border-top: 2px solid #0fbcf9;
//     border-top-right-radius: 8px;
//     border-right: 2px solid #0fbcf9;
//     transition: 0.75s all;
// }
// .corner-button span {
//     display: block;
//     text-align: center;
//     justify-content: center;
//     align-items: center;
//     margin-left: 8px;
// }
// .corner-button span:before {
//     bottom: -2px;
//     left: -2px;
//     border-bottom: 2px solid #0fbcf9;
//     border-bottom-left-radius: 8px;
//     border-left: 2px solid #0fbcf9;
//     transition: 0.75s all;
// }
// .corner-button span:after {
//     bottom: -2px;
//     right: -2px;
//     border-bottom: 2px solid #0fbcf9;
//     border-bottom-right-radius: 8px;
//     border-right: 2px solid #0fbcf9;
//     transition: 0.75s all;
// }
// .corner-button:hover {
//     color: #ffffff;
//     border-radius: 10px;
// }
// .corner-button:hover:before,
// .corner-button:hover:after {
//     border-color: #1b9cfc;
//     width: 100%;
//     height: 100%;
//     border-radius: 10px;
// }
// .corner-button:hover span:before,
// .corner-button:hover span:after {
//     border-color: #1b9cfc;
//     width: 100%;
//     height: 100%;
//     border-radius: 10px;
// }
// button:hover span::before,
// button:hover span::after {
//     width: 50px;
//     height: 50px;
//     border-radius: 10px;
// }

